[2014-01-30 07:16] peholmst opened #1 "Use serializable proxies when autowiring"
When a non-serializable bean is injected into a Vaadin component, the bean should be injected as a serializable proxy to make it possible to use session replication. When the Vaadin component is deserialized, the proxy should look up the correct application context and bean to delegate to.

We have to verify that this is working both using automatic tests and in a real session replication environm

[2014-01-30 07:18] peholmst opened #2 "Accidental issue"
The add-on works in environments that use session replication.

[2014-01-30 07:19] #2 closed, assigned to nobody

[2014-01-30 07:22] peholmst opened #3 "Make servlet configurable"
The developer must be able to configure the path of the Vaadin servlet and also all the init parameters (such as production mode, heartbeat interval, etc).

[2014-01-30 07:24] peholmst opened #4 "Add support for theme compilation to the sample app"
When running in debug mode, the Vaadin servlet will automatically compile the SCSS files to CSS. However, when running in production mode, this compilation must be done when the application is packaged.

Configure the sample application POM so that this works properly.

[2014-01-30 07:25] peholmst opened #5 "Add support for widgetset compilation to the sample app"
It must be easy to use custom widgetsets in the Vaadin applications. Create a custom widgetset for the sample application and configure its POM file to perform the widgetset compilation.

[2014-01-30 07:28] peholmst opened #6 "Create a guide"
Create a guide / tutorial for getting started with Spring Boot and Vaadin.

[2014-01-30 07:29] peholmst opened #7 "Add support for Navigator API"
The add-on should automatically detect beans that implement the View interface, and make them available through a custom ViewProvider.

[2014-01-30 07:31] peholmst opened #8 "Design Spring Security integration"
We need to figure out in what way we are going to support Spring security out of the box.

[2014-01-30 07:35] peholmst opened #9 "Create single-module maven archetype"
Create a maven archetype for creating new single-module Vaadin+Spring Boot projects, with a custom theme and a custom widgetset.

[2014-01-30 07:37] peholmst opened #10 "Create multi-module Maven archetype"
Create a maven archetype for creating new multi-module Vaadin + Spring Boot projects, with a custom theme, a custom widgetset, a module for client side code and an overlay for production mode deployments.

[2014-01-30 07:45] peholmst opened #11 "What should we test?"
We need to add automated tests to the add-on, but what should be test and in which way?

[2014-01-30 07:47] peholmst opened #12 "Add usage instructions to README"
Add some simple instructions to the README about getting started with this add-on.

[2014-01-30 09:58] peholmst opened #13 "View names != bean names?"
Right now, the Navigator API support is implemented in such a way that the view names are also the bean names. However, this imposes some restrictions:
- All views in the application must have unique names, even though they are used in separate UI subclasses
- There can be now default view with an empty view name

Are these restrictions accepable, or should we introduce a separation between bean n

[2014-01-30 11:28] #13 closed, assigned to nobody

[2014-01-30 11:28] #7 closed, assigned to peholmst

[2014-01-31 11:18] peholmst opened #14 "Cloud support"
Which cloud environments are we going to support out-of-the-box?

[2014-02-01 11:59] jamroks opened #15 "Provide an ApacheShiro Security Integration"
In addition to SpringSecurity,  It would be cool to have some integration beetween springBoot-Vaadin addon  with the Apache Shiro Security framework as it is popular enaught ( i suspect ) in the vaadin community IMHO.

[2014-02-01 12:03] jamroks opened #16 "Provide an ApacheShiro Security Integration"
In addition to SpringSecurity,  It would be cool to have some integration beetween springBoot-Vaadin addon  with the Apache Shiro Security framework as it is popular enaught ( i suspect ) in the vaadin community IMHO.

[2014-02-01 12:04] #16 closed, assigned to nobody

[2014-02-01 12:14] #5 closed, assigned to peholmst

[2014-02-01 12:35] monp opened #17 "NPE when logging out"
When we logout, the wrapped session becomes null and the detach() method from VaadinUIScope fires a NPE, due to VaadinUIIdentifier.
Also in this case, all the beans who belongs to the UI instance must be removed.

[2014-02-03 10:19] #17 closed, assigned to nobody

[2014-02-03 11:45] #3 closed, assigned to peholmst

[2014-02-03 11:51] #4 closed, assigned to nobody

[2014-02-03 13:22] peholmst opened #18 "Design i18n integration"
Design how to integrate Spring's i18n support into Vaadin (in a nicer way than just injecting the message source). Especially updating the UI on the fly when the locale is changed will be a challange.

[2014-02-03 14:11] #12 closed, assigned to nobody

[2014-02-04 07:39] peholmst opened #19 "Support servlet extension and non-Spring boot environments"
We also need to support environments where the servlets and app context are configured manually (in case anybody wants to do that). Also, it must be possible for a developer to use his/her own servlet and just plugin the UI Provider.

[2014-02-04 14:41] peholmst opened #20 "Scoped event bus"
We need an application event bus that can be scoped to the current session, or the an individual UI within the session.

[2014-02-05 10:26] #19 closed, assigned to nobody

[2014-02-13 12:56] nfrankel opened #21 "JavaConfig support"
For me, autowiring makes beans not-reusable. JavaConfig support would be a very good thing. It doesn't seem to be supported at the moment.

[2014-02-22 22:13] peholmst opened #22 "@Order on security config"
Currently, if the application wants to define its own security configuration, it must provide an @Order value, since the Vaadin security configuration uses the default value.

[2014-03-04 09:23] #20 closed, assigned to nobody

[2014-03-05 07:56] #22 closed, assigned to nobody

[2014-03-06 09:43] frwck opened #23 "Listening to multiple event types"
Hello,
as I see it, a specific class can currently only listen to one event type.
The example below will not compile  due to the type erasure.
"Method onEvent(Event<NewUserEvent>) has the same erasure onEvent(Event<T>) as another method in type SomePresenter"

Am I missing something?

Thank you very much for your effort on Vaadin4Spring!

[code]

[2014-03-06 13:55] peholmst opened #24 "Migrate to slf4j"
Currently, we're using JCL. We should migrate to SLF4J before releasing the final version.

[2014-03-07 10:56] #23 closed, assigned to peholmst

[2014-03-08 17:42] #21 closed, assigned to nobody

[2014-03-10 07:43] schoeppe opened #25 "Replace Java8 code snippet: java.lang.reflect.Method.getParameterCount()"
In the new [ScopedEventBus.java in line 125](https://github.com/peholmst/vaadin4spring/blob/master/spring-vaadin/src/main/java/org/vaadin/spring/events/internal/ScopedEventBus.java#L125) you could replace the Java8 specific

[code]

with

[code]

... version in parent pom is set to 1.7.

[2014-03-10 08:11] #25 closed, assigned to nobody

[2014-03-10 10:43] peholmst opened #26 "TouchKit Support"
Add support for the TouchKitServlet

[2014-03-10 14:23] #26 closed, assigned to peholmst

[2014-03-11 08:46] peholmst opened #27 "Register a RequestContextListener"

[2014-03-14 10:08] code-monk opened #28 "Authentication object is unavailable for use with @Secured after a few minutes idle"
We have a Vaadin app running on Tomcat 7 that uses Vaadin4Spring to log in and set the SecurityContextHolder's Authentication
I've found that if the user is logged in and actively doing things the Authentication object is available and methods using the @Secured annotation work correctly.
If the user is idle for minimum 30 seconds (having logged in) and then attempts to click something on the UI t

[2014-03-17 16:53] bagerman opened #29 "spring-boot-sample-security does not work yet?"
Hi,
I am trying to run spring-boot-sample-security in eclipse / tomcat to no avail. At the same time, I am getting a prompt for user id and password while running it as an "application" via main() call. Unfortunately it does not take "user"/"password" :-(
Is it still work in progress or am i doing something wrong?
Thanks
Alex

[2014-03-17 18:25] #29 closed, assigned to nobody

[2014-03-18 09:51] peholmst opened #30 "Check for VaadinViews with wrong scope"
Add some kind of early check for VaadinViews that are not UI-scoped or prototype-scoped.

[2014-03-18 10:09] code-monk opened #31 "Useful code for Vaadin4Spring - not applicable directly to code base without work"
I can feedback some of the work I've done integrating vaadin4spring into a non Spring Boot based project, however some of it would be better implemented in the vaadin4spring framework itself rather than wrapping classes.
Some of it isn't applicable depending on what is needed (e.g entity manager per request) however this could give some ideas and pointers for issues people have, but it wouldn't be

[2014-03-18 15:58] code-monk opened #33 "Security class improvement to test access to @Secured methods"
The Security class appears to be missing a method to test @Secured access at method level granularity. Something like the following, using Spring's AnnotationUtils, should be sufficient:

[code]

[2014-03-19 10:41] code-monk opened #34 "SpringViewProvider fails to find VaadinView Annotation on Proxy (breaks navigateTo)"
I'm not sure at this point why this is happening but it appears that AOP @Secured proxy View class loses its @VaadinView annotation causing the following error on navigateTo calls:

[code]

This appears to be a known Proxy problem and a quick Google brings back the following solution (see second to last post):
http://forum.spring.io/forum/spring-projects/aop/29481-problem-using-my-custom-annotatio

[2014-03-19 17:32] ChristopherZhong opened #35 "No UIProvider Issue"
I have a sample Hello Spring Boot application. I followed the Quick Start guide with some changes as Gradle is the build framework instead of Maven.

However, I'm encountering the following exception.

[code]

I'm totally new to Vaadin and is interested in trying out Vaadin instead of Spring MVC. I appreciate any feedback on what I'm doing wrong. I have a sample project that shows the error at htt

[2014-03-20 06:09] #35 closed, assigned to nobody

[2014-03-26 11:27] peholmst opened #37 "Static content serving servlet should be configurable"
Right now, a VaadinServlet is registered to serve static content. It runs in production mode and cannot be configured at all. This needs to change.

[2014-03-26 12:32] #37 closed, assigned to nobody

[2014-04-01 08:03] #33 closed, assigned to nobody

[2014-04-01 09:15] #34 closed, assigned to peholmst

[2014-04-01 10:51] #24 closed, assigned to peholmst

[2014-04-01 12:07] peholmst opened #38 "UI scope during testing"
Figure out a way of mocking the UI scope while testing application code

[2014-04-01 13:07] peholmst opened #39 "Create I18N demo application"

[2014-04-01 13:07] peholmst opened #40 "Create Side Bar for the Stuff module"

[2014-04-01 13:07] peholmst opened #41 "Create Side Bar demo application"

[2014-04-01 13:09] peholmst opened #42 "Add TouchKit demo application"

[2014-04-06 09:52] flexguse opened #43 "Prototype scope does not work"
In my i18n Aspect POC the prototype scope does not work (maybe I did some wrong configuration).

Code in GitHub: https://github.com/flexguse/translatedLabels

The application works, but in the Panel there should be 2 Labels instead of one. The Label is configured in TestapplicationConfiguration and set to "ui" scope.

Setting the scope to "prototype" causes a NPE

[code]

[2014-04-11 08:35] peholmst opened #44 "EventBus doesn't work with JDK 8 lambdas"
Some strange error about inability to determine payload type if lambda is used for EventBus.subscribe( event-> ..... )

[2014-04-11 08:37] peholmst opened #45 "Make @EventBusListenerMethods accept payload directly"
Currently, listener methods annotated with @EventBusListenerMethod must accept a parameter of type Event<PayloadType>. It should be possible to accept parameters of PayloadType directly as well.

[2014-04-14 12:46] #45 closed, assigned to peholmst

[2014-04-23 17:42] #41 closed, assigned to peholmst

[2014-04-26 14:00] #30 closed, assigned to nobody

[2014-05-03 22:26] rpomeroy opened #46 "Gradle-based build (spring-boot-sample) needed"
Try as I may @ https://github.com/Muhuru-Bay-Microgrid/muhuru-bay-dashboard/tree/ron-spring-vaading-switch I cannot seem to get the widget sets to build an load.

It would be HUGELY helpful to see this exact same project (specifically the Spring Boot example) working with a Gradle-based build.

Be gentle :-)  I'm new (but committed to learning) Gradle, Vaadin, Spring-boot.  I'm happy to do some of

[2014-05-04 20:14] peholmst opened #47 "Subscribe event bus listener with weak reference"
Make it possible for e.g. a prototype scoped bean to subscribe itself to an event bus in the @PostConstruct method without causing memory leaks.

[2014-05-08 20:08] gclayburg opened #48 "Spring @Import annotation does not work with vaadin UI class"
This spring boot application class fails:
[code]
The GaryVaadinUI.class does execute correctly the first time it is accessed by a browser.  However, a browser refresh will generate a ServletException:
[code]

For some reason, the workaround seems to be to use ComponentScan like this:
[code]

I'd rather use the @Import style instead of @ComponentScan in my application.  Is this possible?

[2014-05-14 07:47] code-monk opened #49 "RememberMeServices logout broken"
Following on from bug 28 "Authentication object is unavailable for use with @Secured after a few minutes idle" I'd found that I'd not set Spring's remember me services to logout, which I understand is intended to work with the Spring logout filter.
To work around this in the aforementioned custom Spring Vaddin servlet (used to intercept requests) I performed the following:

[code]

Unfortunately s

[2014-05-14 09:50] #49 closed, assigned to nobody

[2014-05-16 09:55] sddakoty opened #50 "Security only works in MODE_GLOBAL"
Hi,

the security on a vaadin application using Navigator and @Secured annotations only works if the following is set:

	@PostConstruct
	public void init() {
	     SecurityContextHolder.setStrategyName(SecurityContextHolder.MODE_GLOBAL);
	}

Problem: if running on a webserver, mode_global is of course not the right strategy, as then no user specific authentication context will exist.
Though, if us

[2014-05-27 10:08] stenersen opened #51 "Support for @Push-Annotion?"
Will the @Push-Annotion be supported for UIs? Right now the sample application does not start when i enable Push-Support. In my application (running in Tomcat) the server starts but the scopes get messed up.

[2014-05-27 11:37] #27 closed, assigned to nobody

[2014-05-30 14:11] #38 closed, assigned to nobody

[2014-06-02 07:24] peholmst opened #52 "Eagerly instantiating UI-scoped beans?"
Check if there is a way of instantiating a UI scoped bean when the UI scope is activated, even though the bean has not been injected anywhere.

[2014-06-02 11:21] LukaszByczynski opened #53 "Add scope qualifier for the @EventBusListenerMethod annotation"
Qualifier simplifies usage when you have to register methods in object in more then one event bus.

Proposal usage:

[code]

[2014-06-09 22:44] LukaszByczynski opened #54 "Exception thrown in EventBus.unsubscribe after close a browser window"
[code]

[2014-06-18 08:27] peholmst opened #55 "Use HTTP Session or Vaadin Session for storing UI scoped beans?"
Currently we are using the HTTP Session to store UI scoped beans. However, technically, a UI belongs to a VaadinSession, which belongs to an HTTP Session. There can be multiple VaadinSessions in a single HTTP Session. Should the UI scope take this into account?

[2014-06-18 08:27] #54 closed, assigned to nobody

[2014-06-18 10:10] peholmst opened #56 "Create separate md documentation file for EventBus"

[2014-06-24 08:30] peholmst opened #57 "Support for asynchronous events"
Make it possible to publish events in one thread and notify listeners in another thread:
- all listeners / thread
- one listener / thread

[2014-06-24 16:50] mstahv opened #58 "Static content servlet should serve empty file for /VAADIN/themes/touchkit/styles.css"
TouchKit needs an empty css file to cope with cores requirement to have a "default theme". Thus the servlet has this kind of dummy file served:
https://github.com/vaadin/touchkit/blob/master/vaadin-touchkit-agpl/src/main/java/com/vaadin/addon/touchkit/server/TouchKitServlet.java#L51

Without it cache manifest stuff fails and there might be a constantly visible "loading indicator" visible on select

[2014-07-02 06:52] peterl1084 opened #59 "@UIScoped UI together with @PreserveOnRefresh behaves differently with standard Vaadin"
In standard Vaadin 7.2 if UI is annotated with @PreserveOnRefresh the init() method is invoked once for every UI instance that is instantiated for each diferent browser tab. This is because each tab has different UI instance and every one of them gets initialized only once as the UI's are intended to be preserved (with the annotation). Subsequent refresh on the browser tab will cause invocation to

[2014-07-04 21:32] peholmst opened #60 "Move EventBus to separate module?"
Would it be a good idea to move the EventBus to a separate module and enable it when needed?

[2014-08-04 14:50] fastnsilver opened #61 "Cannot debug with restartApplication"
If after making some change to code, and I want to restart the Vaadin application to test it out without having to stop and restart the Spring Boot app itself, with:

`?debug&restartApplication` to my URL

I get

 `java.lang.illegalstateexception:%20Session%20has%20already%20been%20set.%20Old%20session:%20com.vaadin.server.VaadinSession@1cf357f4%20for%20springAwareVaadinServlet.%20New%20session:%2

[2014-08-09 08:01] pesse opened #63 "Serving static content in /VAADIN/ folder"
Hey,

I have a question and am hoping someone can give me a hint.
I try to serve some images through Vaadin and spring-boot with this addons. I placed a test-image in the following folders in my eclipse project:

/static/test.jpg
/static/VAADIN/test.jpg
/WebContent/test.jpg
/WebContent/VAADIN/test.jpg

But no matter what I do, the request for http://localhost:8080/VAADIN/test.jpg won't work and is

[2014-08-09 12:07] #63 closed, assigned to nobody

[2014-08-12 17:43] maksimu opened #64 "Stopped working with Spring Boot 1.1.5.RELEASE"
After upgrading Spring Boot to version 1.1.5 Vaadin4Spring stopped working.
Here is the error I got:

[code]

[2014-08-20 13:14] #56 closed, assigned to nobody

[2014-08-20 14:10] #40 closed, assigned to peholmst

[2014-08-20 14:13] peholmst opened #65 "Create separate README for spring-vaadin and spring-boot-vaadin"
Create separate README files for the Maven modules.

[2014-08-20 14:24] #18 closed, assigned to nobody

[2014-08-20 20:51] xiaofengw opened #66 "Don't support JDK 1.6"
I tried to use this, but found out it doesn't support JDK 1.6. As some code is using JDK 1.7 syntax. My project is still on JDK 1.6, do you have any plan to let this support 1.6.

Thanks.

[2014-08-22 13:52] #58 closed, assigned to nobody

[2014-08-25 07:32] peholmst opened #68 "Update main README"
Now when releases will start to show up in Maven central, the main README needs to be updated.

[2014-08-25 18:30] #66 closed, assigned to nobody

[2014-08-25 21:57] fastnsilver opened #69 "Add version attribute to VaadinView"
Seems like a `version` attribute would be a good thing to add to the `@VaadinView` annotation.  The use case I'm thinking of has multiple versions of a view handling - no surprise - multiple versions of model data.  E.g., in first release a class `Foo` has two attributes, in a second release `Foo` gets two more attributes.  A view developer may wish to support presentation of both versions of `Foo

[2014-08-25 22:06] fastnsilver opened #70 "Add a filter to EventBusListenerMethod"
Any method annotated with `@EventBusListenerMethod` will be invoked if it is subscribed to the `EventBus` that published `Event` (or `Object` payload).  A developer oftentimes has to write filtering code in the method internals, b/c multiple annotated methods might listen to same `Event`.

I'm thinking a `filter` attribute that take a `Filter<T>` interface with a `boolean filter(T t)` method that

[2014-08-26 05:46] #43 closed, assigned to nobody

[2014-08-26 18:42] #69 closed, assigned to nobody

[2014-08-28 02:22] brandon8863 opened #73 "ListContainer sort does not handle null values"
I replaced ComparableComparator with NullComparator in the sort method and it seems to work as expected.

[2014-08-28 06:38] #53 closed, assigned to nobody

[2014-08-28 06:39] #70 closed, assigned to nobody

[2014-08-28 12:49] #73 closed, assigned to nobody

[2014-08-31 15:09] tomaswolf opened #74 "Java 6 compatibility"
org.vaadin.spring.security.Security uses the Java 7 multi-catch parameters. I don't think that'll work on Java 6. As Vaadin 7 officially has a minimum requirement for Java 6, could you please ensure that this code also works with Java 6 and does not depend on Java 7/8 features?

[2014-09-02 15:47] imanolache opened #75 "using I18N in a CustomComponent"
Hi,
I want to use I18N in a custom Vaadin component:

@VaadinComponent
@UIScope
public class MyComponent extends CustomComponent {
    @Autowired
    private I18N i18n;

[code]

}

but i received a NullPointerException [Could not instantiate bean class [test.MyComponent]]

BR,

[2014-09-02 16:35] #75 closed, assigned to nobody

[2014-09-05 07:41] ghost opened #76 "Scope 'ui' is not active for the current thread"
Hi. i have a problem when using vaadin4spring without spring boot.

web.xml :
[code]

Project opens, but when I press any button for navigate to another view I'm getting this errors :

[code]
Does someone help me?

Thx.Have a nice day.

[2014-09-18 15:57] mstahv opened #77 "Create a simple JPA CRUD example app"
This would be good for beginners and evaluators. Best would be to push this to Springs own examples as well.

[2014-09-20 20:49] Artgit opened #78 "Vaadin 7 + Spring security configuration"
Hello,

first of all - thank you so much for the awesome vaadin4spring add-on! I used it to configure spring with my existing vaadin application.

But right now I run into the problem while trying to configure Spring security with vaadin.

Also, I'm unable to correctly launch spring-boot-sample-security and continuously getting white screen in the my browser without any errors.

Could someone plea

[2014-09-27 18:41] #55 closed, assigned to nobody

[2014-09-27 19:15] peholmst opened #86 "Strategy based retrieval of beans in UI scope and VaadinSession scope"
Currently, mocking the current UI and current VaadinSession is quite complex when doing integration testing. The scopes should be rewritten using a strategy based approach, where the strategy instance is replaced instead of mocking the Vaadin environment.

[2014-09-27 20:14] #86 closed, assigned to nobody

[2014-10-14 07:29] #74 closed, assigned to nobody

[2014-10-29 07:45] KelibiaPort opened #88 "Use the xml application context configuration file"
Is it possible to use the xml spring context configuration file within this module ??

I have currently a vaadin spring project with customized web.xml and application.xml in order to integrate the apache shiro framework and I want to use this addon, So how can I transform these 2 XML configuration file ?

[2014-11-14 13:26] enyachoke opened #89 "Loading custom html and static files"
Am using this project alongside
https://github.com/markoradinovic/Vaadin4Spring-MVP.git
So far everthing works except for getting files from /VAADIN/themes/valo
This piece of code `
                final MenuBar.MenuItem settingsItem = settings.addItem(sg.nextString(true)
                        + " " + sg.nextString(true) + sg.nextString(false),
                new ThemeResource("../valo/img/prof

[2014-11-15 06:49] #89 closed, assigned to nobody

[2014-11-16 11:20] frandevel opened #90 "Initial navigation does not work. NullPointerException thrown"
Method "getUriFragment" throws a NPE when trying to get the fragment from the location.
Location is null.

[code]

Application without the View/Navigation stuff works fine. SpringViewProvider is detecting the view correctly

[2014-11-16 11:25] #90 closed, assigned to nobody

[2014-11-20 01:47] FearlessHyena opened #91 "NotSerializableException thrown when restarting app"
Hello, I'm not sure if I'm doing something wrong but I keep getting a NotSerializableException whenever I restart Tomcat with my war deployed on it

I first tried with my own app but after getting that exception I tried the spring-boot-sample here
https://github.com/peholmst/vaadin4spring/tree/war-file-for-servletcontainers/spring-boot-sample
but was getting the same problem so it might be somethi

[2014-11-26 17:37] nfrankel opened #92 "Data Source sharing between Vaadin & Spring"
I've tried to wrap the provided Spring Boot's DataSource in a J2EEConnectionPool and it seems Vaadin faces SQLRecoverableException with "Closed Connection" labels.

For me, the fix was to replace the default data source with my own bean that does a JNDI lookup in the application server.

I'd suggest either fixing the issue or at least providing this workaround in the documentation.

[2014-12-09 10:36] #91 closed, assigned to nobody

[2014-12-09 21:42] sbradeen opened #94 "Servlet springAwareVaadinServlet is currently unavailable"
Hello,
On shutdown of Tomcat, I'm getting errors such as below, with the error forwarding continuing on until the log is full. Any ideas on what may be causing this? Or how I may be able to handle it? The 'millions of instances' for deallocation is a mystery. I am happy to provide any helpful information.
Thanks.

Application setup:
Vaadin 7.3.5
Servlet 3.0
spring-boot 1.0.2.RELEASE
spring-boot-va

[2014-12-11 06:47] peholmst opened #95 "Make it possible to use different UI components for the sidebar"
Applications should be able to use the configuration metadata of the sidebar while providing their own UI implementation.

[2014-12-11 07:47] peholmst opened #96 "Update MVP sample to work with Spring Boot 1.2"
@fastnsilver The MVP sample application stopped working after I upgraded to Spring Boot 1.2.0. Can you fix this? I temporarily disabled it in the samples parent POM.

[2014-12-17 11:26] caritos opened #98 "Instantiation of bean failed"
I've added this line into PlanningView1 class (http://goo.gl/7jaNJx) :

[code]

And I get a BeanCreationException (https://gist.github.com/caritos/dcca85592c48a85563e9)

Just wondering how best to pass @Autowired variables around.

[2014-12-17 12:32] #98 closed, assigned to nobody

[2014-12-17 12:35] #96 closed, assigned to nobody

[2014-12-18 16:10] thirionjl opened #99 "vaadin-spring-mvp: Could you provide a test with mocked views ?"
Hello,

could you please provide a test to show how to use vaadin-spring-mvp in a testing scenario ?

Thanks in advance for your help

[2014-12-22 18:36] vaadin-kim opened #107 "Invalidating session causes exception"
Implementing a [logout functionality](https://www.owasp.org/index.php/Logout) properly requires invalidating the user's session upon a logout event. This way, we guarantee that any potential user resources bound to a session are not accidentally leaked to the next user.

[Vaadin's wiki](https://vaadin.com/wiki/-/wiki/Main/Handling+logout) recommends invalidating the session and then redirecting th

[2014-12-23 13:01] nfrankel opened #108 ""Vaadin is running in DEBUG MODE" in log"
Spring4Vaadin can be configured with vaadin.servlet.params.productionMode=true in the application.propertie. This works as expected. However, since there are actually 2 different servlets, the SpringAwareVaadinServlet and the StaticContentServlet, the second is not configured to read this parameter and displays the "Vaadin is running in DEBUG MODE" message in the log.

This is not serious, but cou

[2014-12-25 13:53] pesse opened #112 "Best practice to cleanUp prototype views"
Hey guys,

question from someone quite new to spring:
How would you do the cleanUp of prototype views in Vaadin4Spring environment?
I guess it wouldn't be a problem as long as I don't register the prototype view for example to the Event-Bus or something alike.
But what if I do? Where would be the best place to cleanup the bean, unsubscribe etc?

Pesse

[2014-12-26 19:40] #112 closed, assigned to nobody

[2014-12-27 05:51] #11 closed, assigned to nobody

[2015-01-01 21:42] GJRTimmer opened #121 "Merging MVP / Simple-MVP"
The Presenter class is both available within spring-vaadin-mvp and spring-vaadin-simple-mvp.

Anyone a good idea howto combine both and keep the advantages of both ?

[2015-01-03 02:23] zkendall commented on #121
These two presenters use very different approaches. What advantages do you want that one is missing?

[2015-01-03 10:47] GJRTimmer commented on #121
I want to keep both, but merge them within one artifact MVP.

[2015-01-03 20:34] zkendall commented on #121
They're pretty short classes, just merge the code yourself for your own use.

[2015-01-04 07:24] enyachoke commented on #78
@GJRTimmer  Thanks It solved it

[2015-01-04 11:19] GJRTimmer commented on #121
I'm not only looking for my own use, but also to improve the Vaadin4Spring project, forget to mention that this is not really an issue, but more a improvement discussion.

I will create an single mvp artifact setup and submit it for review.

[2015-01-07 23:30] zkendall commented on #52
My, perhaps sloppy, answer to this was to ask for the beans from the ApplicationContext via annotation in UI.init().

[2015-01-09 19:14] zkendall opened #124 "Eventbus Load Performance"
I've been doing load testing on my project that uses this vaadin4spring. I just came accross this issue and was able to narrow it down to a UI scoped eventbus.

In the following image you can see that I'm using <50% of the heap and the test includes three steps. Ping /ui, logging in, and getting the /ui. I am running 20 children through this script 15 times. So the first hump begins around 225 ses

[2015-01-10 01:01] zkendall commented on #124
I've narrowed it down to events being passed by spring security, being propagated by the ApplicationContextEventBroker and just being expensive.

[2015-01-12 20:16] zkendall commented on #124
Can we discuss a way that this ApplicationListener can be toggled by applications using the v4s library? That way we don't have to have our own private build with this commented out.

[2015-01-13 08:15] peholmst commented on #124
I think we can do this with an annotation. By default, the listener would be disabled and then you'd have to explicitly enable it if you need it. How does this sound?

[2015-01-13 18:59] zkendall commented on #124
I think defaulting to disabled is a good idea. What would be annotated though?

[2015-01-14 12:17] peholmst commented on #124
I was thinking you could use some kind of annotation to enable the event bus, like @EnableEventBus and then use this annotation to also control whether application events should be propagated. But maybe a simpler solution would be to simply leave out the application listener from the default configuration and let users that need it add it manually to their configurations?

[2015-01-14 12:47] peholmst commented on #124
As of 0.0.3.1 and 0.0.4-SNAPSHOT, application context events are not propagated by default. See the EventBus README for details.

[2015-01-14 17:17] LukaszByczynski commented on #108
Here is small workaround. Only thing you need to do is add one parameter to application configuration:

[code]

[2015-01-14 17:46] nfrankel commented on #108
I'll try, thanks!

[2015-01-14 17:53] christoph-frick commented on #108
@LukaszByczynski works for me.  thanks!

[2015-01-14 17:55] LukaszByczynski commented on #108
IMHO it should be default value for that servlet. I will push pull request later today.

[2015-01-14 20:31] LukaszByczynski opened #126 "Missing "Resources" init parameter"
There is no possibility to set "Resources" init parameter via spring-boot configuration. This parameter is not part of the VaadinServletConfiguration class. It need be set manually.

[2015-01-14 21:04] LukaszByczynski opened #128 "Wildcard handling for path in AbstractSpringAwareUIProvider"
Currently, there is no option to set URL path like "/*"  for a VaadinUI. This is very annoying when you trying pass the parameters to UI like "/value1/value2"

[2015-01-15 13:03] #108 closed

[2015-01-15 13:04] #126 closed

[2015-01-15 13:29] #128 closed

[2015-01-15 13:31] #88 closed

[2015-01-15 13:32] peholmst commented on #92
I'll leave this open for now, but I suspect the problem is with Spring Boot and not the Vaadin add-on.

[2015-01-15 13:34] nfrankel commented on #92
I didn't have time to re-check.

[2015-01-16 00:43] zkendall commented on #124
Excellent.

BTW; where is "0.0.3.1" defined/used?

[2015-01-16 04:42] peholmst commented on #124
And there is a 0.0.3.1 because we use 0.0.3 in customer projects where we cannot use the latest snapshot for various reasons.

[2015-01-16 07:23] peholmst commented on #124
Closing for now. If there are still performance issues, the issue can be reopened.

[2015-01-16 07:23] #124 closed

[2015-01-16 07:25] peholmst commented on #64
Is this problem still valid?

[2015-01-19 21:59] LukaszByczynski commented on #59
With current upstream UI behaves correctly. I use Jetty as application server.

[2015-01-19 22:07] LukaszByczynski commented on #107
With following code:

[code]

I put this code into UI class and it's works correctly.

[2015-01-19 22:12] LukaszByczynski commented on #94
This bug is related to issues with Vaadin push implementation and Tomcat. With Jetty I hadn't any issues. Check this topic at official Vaadin forum about Tomcat issues: https://vaadin.com/forum#!/thread/8232643

[2015-01-20 14:30] sbradeen commented on #94
Thanks for the response. I am upgrading our Vaadin version, to see if it helps with the intermittent push "hang" issue. Tomcat 7 appears to be is causing some pains with the latest spring boot jpa as well.

[2015-01-21 09:22] knacht-net opened #136 "Tomcat 8 and Server Push not working"
It just took me an hour to find the releveant comment in the pom.xml of sample project

If using gradle apply the follwoing:

https://github.com/spring-projects/spring-boot/issues/2346

This issue is meant as an Info for others

[2015-01-22 08:08] tehapo opened #137 "Add support for portlets"
Add support for using vaadin4spring in portlet applications.

[2015-01-22 15:15] mcumbay commented on #65
Is there any documentation/example on how to use this addon using Spring (no Spring Boot)?

[2015-01-22 15:52] mcumbay commented on #76
Could you provide an example using SpringAwareUIProvider with Spring (no Spring- Boot)?

[2015-01-22 22:18] sbradeen commented on #51
Just to be clear, is 'server.sessionTimeout' not the same as 'server.session-timeout' ? And what are the time units?

[2015-01-23 02:02] caritos opened #138 "BeanCreationException"
I'm trying to integrate Spring Boot Vaadin (https://github.com/peholmst/vaadin4spring) with Vaadin's Dashboard Demo Code (https://github.com/vaadin/dashboard-demo). The only thing modification I made was add the annotation "@VaadinUI" in the DashboardUI class. I checked in my code using the branch "integrate-vaadin-dashboard-demo-project".

I get the error message: org.springframework.beans.factor

[2015-01-23 06:24] peholmst commented on #138
My guess is there is an older version of the Bean Validation API on your classpath. See http://stackoverflow.com/questions/14730329/jpa-2-0-exception-to-use-javax-validation-package-in-jpa-2-0 for more information.

[2015-01-23 06:27] peholmst commented on #65
No, not yet. There will be, but I don't know when yet.

[2015-01-23 06:30] peholmst commented on #51
server.sessionTimeout should be the same as server.session-timeout. And the time units is seconds.

[2015-01-27 16:40] dhhabi commented on #29
security.login(username.getValue(), password.getValue());

For me : login method is undefined

I am not sure what I am missing here.

[2015-01-27 16:49] christoph-frick commented on #29
@dhhabi are you using `java.security.Security` instead the one from spring?

[2015-01-27 16:53] dhhabi commented on #29
It only Shows two options :
java.security.Security
import org.springframework.boot.actuate.autoconfigure.ManagementServerProperties.Security;

May be i am missing some dependency. ?

[2015-01-28 13:02] pesse opened #139 "Is the ViewScope missing or can't I just find it?"
Hey there,

writing directly from the GWT.create 2015 after a nice presentation of Peter Letho about Vaadin and JavaEE I ran into the following issue:
In vaadin CDI you have the @ViewScoped annotation and a specific view scope to deal with different views inside one UI.
What's the equivalent in vaadin4spring? Did I just miss something? As for now I can only see Session, UI and Prototype scope and

[2015-01-28 13:07] peholmst commented on #139
There is no view scope. One will be added, but I don't know when.

[2015-01-29 16:27] GJRTimmer commented on #78
Spring boot based security sample is now available. Located within the samples directory.

Note: This is a multi UI security sample with a fully working springSecurityFilterChain.

Next update of the security-sample will be the implementation of 'remember-me' through the use of the official RememberMeAuthenticationFilter within the springSecurityFilterChain.

When this is completed the creation of

[2015-01-29 16:36] GJRTimmer commented on #77
@peholmst Suggestion: Import the mentioned sample within the vaadin4Spring samples?

[2015-01-29 16:42] GJRTimmer commented on #68
@peholmst What kind of update are you thinking about? Can you give me an other github project as an example reference which direction you want to persue.

[2015-01-29 16:46] mstahv commented on #77
I could try to polish it a bit some day, add some simple example of a relation handling as well and push it in as simple-jpa-crud-example. Petter any opinions?

[2015-01-30 10:45] GJRTimmer commented on #77
@mstahv Would it be possible to create a branch from your master purely for the import into Vaadin4Spring. Could you already import the license header of vaadin4spring into every Java file ?

[2015-02-02 06:35] peholmst commented on #137
This will be done at some point, but I don't know when. Right now the emphasis is on getting everything working properly for servlet applications. Some actions have been taken already to make the migration to a portlet environment a little easier.

[2015-02-02 06:37] peholmst commented on #77
@mstahv Go ahead!

[2015-02-02 06:39] peholmst commented on #68
I just want to make sure that all the information required to be able to use this add-on is easily available in the READMEs and that the READMEs are up to date.

[2015-02-02 06:45] peholmst opened #143 "Move I18N code to spring-vaadin-i18n module"
It's a bit strange that some I18N code relies in the main spring-vaadin module and some in the spring-vaadin-i18n module. If possible, everything should be moved to spring-vaadin-i18n.

[2015-02-02 06:47] peholmst opened #144 "Move event bus to separate module"
The event bus should probably be moved to a separate module. When using Spring Boot, it could be auto-configured when present in the classpath, otherwise you'd have to enable it using an annotation in your Spring configuration class.

[2015-02-02 06:54] peholmst opened #145 "Fix typo in BeanStore"
beanStoreDestoyed -> beanStoreDestroyed

[2015-02-02 08:04] GJRTimmer commented on #68
Agreed, I will make time soon to give the security-update README an overhaul.

[2015-02-02 08:20] GJRTimmer opened #146 "Security => Logout"
Current logout feature is insufficient, it does not follow the setup of the LogoutFilter and Logout handlers. Second the current method for logging out only invalidates the Authentication SecurityHolder, while it does not invalidate the HttpSession, RememberMe and SecurityContext will still be available within the HttpSession.

@peholmst Please assign to me, and mark with label enhancement or bug,

[2015-02-02 08:22] GJRTimmer commented on #143
Request assignment

[2015-02-02 08:44] GJRTimmer commented on #138
see them ```pom.xml``` of the security-sample, please add the following dependency to your pom.

[code]

After adding this dependency all should work fine.

@closed

[2015-02-02 09:02] GJRTimmer commented on #68
@peholmst What do you think about the idea to cleanup all README to contain only relevant project information and move a lot of the configuration explanation to the project Wiki ? Just a thought.

[2015-02-02 10:35] peholmst commented on #143
Sure, go ahead. Thanks! :-)

[2015-02-02 10:36] #138 closed

[2015-02-02 10:41] peholmst opened #147 "Investigate and create a ViewScope"
Create a view scope that is active when a view is being created by the view provider, possibly also while the view is visible.

[2015-02-02 10:41] peholmst commented on #139
See #147

[2015-02-02 10:41] #139 closed

[2015-02-02 10:44] peholmst commented on #68
I'm afraid that having the documentation split up between READMEs and the wiki would result in the wiki always being out-of-date. If possible, I'd like to keep the documentation short and included with the sources. More extensive examples and/or tutorials could go into the wiki, though.

[2015-02-02 10:45] peholmst opened #148 "Clean up development branches"
Delete all dead development branches and update the active ones to the lastest MASTER version.

[2015-02-02 10:47] GJRTimmer commented on #68
Good, I will keep the basic documentation about spring-security within the README, if more extensive documentation is required I will create a wiki page for vaadin-spring-security.

[2015-02-02 10:52] GJRTimmer commented on #148
Thank you so much, this is great.

[2015-02-02 11:27] peholmst commented on #148
Reopening, I haven't done anything yet, but will do shortly. :-)

[2015-02-02 11:30] peholmst commented on #148
There, I deleted almost all of them. feature/serialization is an experimental branch where I've been playing around with serialization stuff.

[2015-02-02 11:30] #148 closed

[2015-02-02 12:07] #146 closed

[2015-02-02 12:54] GJRTimmer commented on #143
@peholmst There is a reference within <VaadinConfiguration> (spring-vaadin project) which creates an I18N bean by default.

Should we removed it to unlink a dependecy of spring-vaadin-i18n project ?

[2015-02-02 13:00] GJRTimmer commented on #78
Basic implementation of Spring-Security is done. See [samples/security-sample](https://github.com/peholmst/vaadin4spring/tree/master/samples/security-sample)

[2015-02-02 13:00] #78 closed

[2015-02-02 13:01] GJRTimmer opened #150 "Implement Spring-Security RememberMe functionality"
Implement RememberMe functionality with the SpringSecurityFilterChain

[2015-02-02 13:07] GJRTimmer commented on #50
If you would eliminate the SecurityContextHolder then you can not use the SpringSecurityFilterChain. Access to the ```Authentication``` object is now implemented by ```VaadinSecurity```.

Within your UI you can autowire the ```VaadinSecurity``` which should give you all the access you need, also as provided with the samples, the SpringSecurityFilterChain is now used so your ```Authentication``` ob

[2015-02-02 13:07] #50 closed

[2015-02-02 13:07] GJRTimmer commented on #48
@joshlong Any update ?

[2015-02-02 13:10] peholmst commented on #143
@GJRTimmer Yes, it should be removed. When using Spring Boot and spring-vaadin-i18n is on the classpath, it should be automatically enabled. When not using Spring Boot, I18N needs to be explicitly enabled using @EnableVaadinI18N.

[2015-02-02 13:12] GJRTimmer commented on #60
```EventBus``` => #144

About ```SpringViewProvider``` & ```VaadinView```
Is it an idea to move ```SpringViewProvider```, ```VaadinView``` and both *-mvp artifacts into a new artifact => spring-vaadin-navigator ?

Does this makes sense ?

[2015-02-02 13:16] peholmst commented on #60
Closing this ticket in favor of #144. Let's keep the navigation stuff where it is until #147 is done.

[2015-02-02 13:16] #60 closed

[2015-02-02 13:19] GJRTimmer commented on #64
This problem does not look still valid.

Reason:
The exception being thrown is due to the fact that the springSecurity initializer cannot find an ```AccessDecisionManager```. To avoid this exception I've added a default ```AccessDesicionManager``` to the ```VaadinSecurityConfiguration``` within spring-vaadin-security. see [VaadinSecurityConfiguration#GlobalMethodSecurity](https://github.com/peholm

[2015-02-02 13:19] #64 closed

[2015-02-02 13:21] GJRTimmer commented on #6
This issue may be a great example to put on the project wiki ?

[2015-02-02 13:25] GJRTimmer commented on #10
@peholmst Would it be as simple as to modify the original Vaadin maven-archtype which currently creates a 3 module setup. Same maven-archtype which is used within Netbeans/Eclipse ?

- {project}-production
- {project}-ui
- {project}-widgetset

And only changes some basic code to implement Vaadin4Spring ?

[2015-02-02 13:25] peholmst commented on #6
The idea was/is to get it published here: https://spring.io/guides

[2015-02-02 13:28] GJRTimmer commented on #28
The minimal SpringSecurityFilterChain requires about 8-9 filters to work correctly.

Because this is an old issue and a spring-security sample has been provided, I'm closing this until re-opening is required.

[2015-02-02 13:28] #28 closed

[2015-02-02 13:37] GJRTimmer commented on #6
Great idea, however I think we would have a real challenge getting our guide there, because only guides that are directly linked to the spring-project itself are published there. In order to get our guide published we would need to get the vaadin4spring project adapted within the spring-project as a module.

It that your ultimate goal ?

[2015-02-02 13:46] GJRTimmer commented on #143
@peholmst How do you feel about default enabling ```@EnableCompositeMessageSource``` when you enable the ```@EnableVaadinI18N``` I personally would think it should be enabled when ```@EnableVaadinI18N``` is activated.

[2015-02-02 13:47] peholmst commented on #6
That remains to be seen... In the mean time, we can write the guide in the wiki.

[2015-02-02 13:48] peholmst commented on #10
To be honest, I've never used the original Vaadin maven archetype, but that sounds about right.

[2015-02-02 13:49] peholmst commented on #143
@GJRTimmer Yes, the composite message source should be enabled by default when the entire I18N module is enabled.

[2015-02-02 13:50] GJRTimmer commented on #143
@peholmst It shall be done soon :-)

[2015-02-02 15:07] GJRTimmer commented on #107
Logout and redirecting the user to the login page is now handle by the springSecurityFilterChain.

Fixed #149

[2015-02-02 15:07] #107 closed

[2015-02-02 15:08] GJRTimmer commented on #99
Answered by @nfrankel no response from @thirionjl

Closed.

[2015-02-02 15:08] #99 closed

[2015-02-02 15:14] GJRTimmer commented on #136
Should be placed on the Wiki

[2015-02-02 15:17] GJRTimmer commented on #8
@peholmst is this still active in relation to the progress of integration of Spring-Security ?

[2015-02-02 19:01] ccit-spence commented on #10
Chiming in out of nowhere, I agree the Maven archetype setup is not something we use either.  Our interest in this project is to tie this into Spring Cloud and use Vaadin as a micro-services UI foundation.  A multi module setup seems like added complexity.

Disclaimer: Very very new to Vaadin.  Could be a reason I am not aware of at the moment for the multi module setup.

[2015-02-03 06:12] #143 closed

[2015-02-03 06:13] peholmst commented on #143
Thanks for your help!

[2015-02-03 06:15] peholmst commented on #10
Multi module setup is useful if you want to separate your server side code from your client side (GWT) code, or if you are building a modular application where you want to be able to deploy different versions containing different modules, or if you are deploying your application as a WAR and want to use different overlays for development, testing, production, etc. If you do not fall into one of th

[2015-02-03 06:16] peholmst commented on #8
Nah, I think we can close it. From now on, we'll create more fine grained tickets for specific security features.

[2015-02-03 06:16] #8 closed

[2015-02-03 07:43] GJRTimmer commented on #10
The current multi module setup which is created by eclipse for example is very handy, especially for project like @ccit-spence is talking about. You still have a single project where you write and build you application but when you want to create your production setup you run the production module with profile and It will compress all javascript and more handy production stuff.

@ccit-spence check

[2015-02-03 07:46] ccit-spence commented on #10
@GJRTimmer That does make sense.  Not fully used to the Vaadin build cycle. Was thinking in terms of Spring Boot's needs not factoring in Vaadin's needs.

[2015-02-03 07:48] GJRTimmer commented on #15
@peholmst Is this still active, current focus of project is to integrate spring and spring-security.
Can this be closed ?

[2015-02-03 07:52] GJRTimmer commented on #14
Why not start with spring-cloud ?

[2015-02-03 07:53] peholmst opened #153 "Split between core modules and extra modules?"
At least the SideBar module and both of the MVP modules could be considered as extra modules of this add-on. Maybe they should be moved under a separate sub-module called spring-vaadin-extras and named in the same way, e.g. spring-vaadin-extras-sidebar?

[2015-02-03 07:54] peholmst commented on #15
No, leave it open. At some point it should be possible to use Apache Shiro as well. The Vaadin4Spring add-on must not force the use of Spring Security, even though it should integrate with it as seamlessly as possible.

[2015-02-03 07:56] peholmst commented on #14
Personally, I don't really care which cloud providers we are going to support. The more, the better! :-)

[2015-02-03 07:59] ccit-spence commented on #14
spring-cloud fits for multiple providers.  Vaadin based Micro UIs using spring-cloud is something I personally would like to see.  Why I showed up actually, to see how/if it would work.

[2015-02-03 08:01] peholmst opened #154 "Reconfigure the UI beans after deserialization"
Currently, a Spring4Vaadin UI cannot be serialized, which is problematic for cluster deployments. This should be fixed by ensuring that:
- Spring4Vaadin itself is properly serializable, and
- the UI beans are reconfigured after deserialization, so that e.g. transient backend references are re-injected.

[2015-02-03 08:01] peholmst commented on #1
Closing this issue in favor of #154

[2015-02-03 08:01] #1 closed

[2015-02-03 08:03] peholmst commented on #14
I've never used spring-cloud myself, so if anybody is interesting to give it a go, then go ahead. Report any problems here, or try to fix them yourself. :-)

One potential problem with cloud deployment could be that the session is currently not serializable (see #154).

[2015-02-03 08:04] peholmst commented on #154
Any idea how we can automatically test this?

[2015-02-03 08:06] GJRTimmer commented on #153
I would not rename them as *-extras, If I look at the spring-project, you have all these modules, so why not combine it with the philosophy of Vaadin itself:
- Add-ons
  - spring-vaadin-mvp
  - spring-vaadin-simple-mvp
  - spring-vaadin-sidebar
- samples
  - ...
- spring-boot-vaadin (Core Module, no rename required)
- spring-vaadin-core (Core Module)
- spring-vaadin-test  (Core Module)
- spring-va

[2015-02-03 08:06] ccit-spence commented on #14
I don't know anything about spring-session.  Could that help?  Something about spring-cloud is it relies more on oauth/tokens.  Ideally every service is stateless.

[2015-02-03 08:18] peholmst commented on #153
I have to think about this.

[2015-02-03 09:54] #144 closed

[2015-02-03 10:20] peholmst commented on #31
@code-monk A lot has happened with the add-on since March last year. Is this ticket still relevant? Is there any code you'd still like to see integrated into the add-on?

[2015-02-03 11:45] #150 closed

[2015-02-03 12:39] michahirsch commented on #14
Currently I'm working with spring-boot, spring-cloud and vaadin4spring on a Cloud-Foundry environment. Seems everything is working except the session serialization problem #154 by using spring-session to store the sessions into a Redis server.

[2015-02-03 12:48] peholmst opened #157 "Fix main README after recent changes"
- There are two sections about internationalization
- At least the links to Eventbus README and I18N README are broken

[2015-02-03 13:54] #145 closed

[2015-02-03 13:57] peholmst opened #158 "Release 0.0.4"
- Update dependencies to latest versions
- Release 0.0.4
- Change version to 0.0.5-SNAPSHOT

[2015-02-03 14:01] gguptha opened #159 "Issue with TouchKit when used along with NavigationManager & NavigationView"
Hi,

I have a TouchKit NavigationView which needs to fetch data from the database every time the page is viewed. The first time the page is displayed, the methods init (when used with PreConstruct) and attach is invoked. For all subsequently display of the page, those methods are not invoked and  hence I cannot refresh the page with the latest data (which might have changed in the database). I und

[2015-02-03 16:32] mikrobestie opened #160 "VaadinSecurity.getAuthentication() returns null after successful login"
Hi,

at first I need to say that I am glad to see that you are working on vaadin spring security module. We are using vaadin4spring in one of our company applications and now I try to integrate new security features to it.

I used almost the same security configuration as the one in the security sample (SecurityConfiguration.java) and logging the users in is working flawlessly - the UI is loaded,

[2015-02-03 18:51] knacht-net commented on #136
Moved to wiki.

[2015-02-03 18:51] #136 closed

[2015-02-03 19:06] GJRTimmer commented on #160
What you encounter is something I forget to fix within the VaadinSecurity object. We completly switched to the full ```springSecurityFilterChain``` and the filter chain clears the context after it completes. This is by design.

To access the ```Authentication``` object you have to retrieve it from the same place the filter chain has stored it.

I will try patching the ```VaadinSecurity``` object w

[2015-02-03 20:06] mikrobestie commented on #160
Thanks, that worked! Is there any chance that it will be fixed in 0.0.4 version?

[2015-02-03 20:12] mikrobestie commented on #160
There is a possible flaw, that you can set the session key other than "SPRING_SECURITY_CONTEXT" via HttpSessionSecurityContextRepository.setSpringSecurityContextKey() and thus this method will not work.

[2015-02-03 20:18] peholmst commented on #160
I won't release 0.0.4 until this is fixed.

[2015-02-03 20:33] #157 closed

[2015-02-03 20:33] peholmst commented on #157
@christoph-frick Thanks for your help!

[2015-02-03 20:34] peholmst commented on #136
@knacht-net Thanks!

[2015-02-04 03:20] swallace21 opened #163 "New start.spring.io project -> missing dependencies"
Hi excellent work on this project!  I am working with some of the samples and this excellent example: https://github.com/markoradinovic/Vaadin4Spring-MVP-Sample-SpringSecurity

I am trying to convert several of the projects to run on Wildfly 8 as war files.  When working with the project, Eclipse is reporting that there are several missing jars such as the EventBus and Security, etc...  I know thi

[2015-02-04 09:00] peholmst commented on #163
I guess we need a multi-module example project. All the current samples are single-module.

[2015-02-04 11:34] peholmst opened #164 "Migrate to Vaadin Official Spring support"
Development on the official Vaadin Spring add-on started today. It is basically a small subset of this add-on (currently only the scopes), but still developed as a separate product. Once the official version is stable, Vaadin4Spring will be migrated to act as an add-on of the official add-on, providing all the features that didn't end up in the official version.

[2015-02-04 15:13] swallace21 commented on #163
Thanks Petter!

[2015-02-04 18:16] GJRTimmer commented on #164
Very nice :+1:

[2015-02-04 18:32] GJRTimmer commented on #160
@mikrobestie I'm actually working on it right now. To answer your previous question, yes changing could lead to a problem that's why we already implemented a method to also set the context key on the ```VaadinSecurity``` object, because the ```VaadinSecurity``` has to set the same key the ```HttpSessionSecurityContextRepository``` checks.

[code]

[2015-02-04 18:53] GJRTimmer commented on #160
@mikrobestie I've pushed the dev/security branch to @peholmst could you checkout this branch build and test it and see if this permanently fixes your issue ?

[2015-02-04 19:15] GJRTimmer commented on #160
Will wait with PR until @mikrobestie has confirmed that fix provided within branch dev/security works. I've tried to recreate it but, I still have an unfinished chain so the SecurityContext is still available within my setups.

[2015-02-04 19:19] mikrobestie commented on #160
Tried it right now and it works as expected. Thanks for quick fix!

[2015-02-04 19:24] GJRTimmer commented on #163
What about the following. I update the security sample project to a multi modulr maven project.

Which I will base upon the official Vaadin maken archetype generator. Would that be sufficiënt?

Or do you mean another type of multi module setup?

[2015-02-04 19:32] peholmst commented on #163
@GJRTimmer At least for me, that would be sufficient. What does @swallace21 think?

[2015-02-04 19:34] GJRTimmer commented on #10
@ccit-spence I tried it from a spring-boot point of view, but I found it quite hard. While starting with the Vaadin setup and adding spring-boot into it, was a lot faster, because then you don't have to think about a the Vaadin plugin configuration, to have your build automatically build the widgetset and such.

[2015-02-04 19:35] GJRTimmer commented on #160
@mikrobestie Thank you for the quick testing. Will submit PR right now.

[2015-02-04 19:37] swallace21 commented on #163
@peholmst @GJRTimmer That would work for me as well.  Thank you.

[2015-02-04 19:40] #160 closed

[2015-02-04 19:42] GJRTimmer commented on #163
I will try to get it completed this week.

[2015-02-04 19:44] GJRTimmer commented on #163
@peholmst @swallace21
I will try to see if I can get it completed within the next few days; I don't have it lying around on my harddisk.

[2015-02-04 20:13] GJRTimmer opened #166 "Requirement VaadinAccessDeniedHandler"
spring-vaadin-security requires a custom ```AccessDeniedHandler```

Situation:
- MainUI with annotations
    - ```SpringViewProvider``` setup as navigator.
- Single view, mapped to ```""``` (Main view)
    - Secured with a ```@Secured``` annotation.

The problem found is that the ```SpringViewProvider``` does not get a chance to check the view because, it's the main view, and the request has not r

[2015-02-05 10:44] GJRTimmer commented on #166
@Closed, not longer an issue, exception was thrown due to incorrect configuration of Spring-Security.

Personal error.

[2015-02-05 10:44] #166 closed

[2015-02-05 10:55] eiswind opened #169 "Push with Websocket works?"
HI, I was just playing around and at least in my simple example push works with your library with websocket if I add
[code]

[2015-02-05 10:59] GJRTimmer commented on #169
@eiswind Curious to see an actual working sample.

Are you able to provide a fully working class ?
If possible could you provide an basic working sample ?

[2015-02-05 11:06] eiswind commented on #169
@GJRTimmer I will publish the source on github as soon as saturday is here. I'll drop you a link as soon as its online.

[2015-02-05 11:08] peholmst commented on #158
0.0.4 released to maven central today.

[2015-02-05 11:08] #158 closed

[2015-02-05 11:08] peholmst opened #170 "Release 0.0.5.RELEASE"

[2015-02-05 11:18] peholmst opened #171 "Create separate navigation API sample"
Currently, the SideBar sample is used to demonstrate the navigation API as well. However, to actually show the difference between the different scopes, a simpler sample is needed.

[2015-02-05 11:20] peholmst opened #172 "Improve README section about scopes"
All custom scopes (VaadinSession, UI and View) should be clearly documented. In addition some words of when the prototype scope is useful.

[2015-02-05 11:23] #147 closed

[2015-02-05 12:30] peholmst opened #174 "Investigate new view scope with VisualVM"
Make sure that there are no memory leaks and that view scoped beans are disposed of accordingly when:
- the user navigates away from the view
- the UI is closed
- the session expires

[2015-02-05 12:35] #171 closed

[2015-02-05 12:37] GJRTimmer opened #176 "Add secured single-UI support"
Add support for a secured single-UI application.

<h5>Possible solution</h5>
Provide a SecuredNavigator like the sample of [markoradinovic](https://github.com/markoradinovic/Vaadin4Spring-MVP-Sample-SpringSecurity) to support a single-ui security application which is secured with spring-security.

[2015-02-05 12:37] peholmst opened #177 "Make sure the side bar works with Valo"
But do this after #95

[2015-02-06 09:51] peholmst commented on #174
At least the sample application is behaving really nicely in all three cases. No memory leaks.

[2015-02-06 09:51] #174 closed

[2015-02-06 10:17] GJRTimmer commented on #176
Progress 50% DONE.

[2015-02-06 13:39] peholmst opened #178 "Make sure you can test view scoped beans"
Add test cases to spring-vaadin-test that use view scoped beans.

[2015-02-06 13:39] #172 closed

[2015-02-06 13:49] peholmst opened #179 "Add view scoped event bus"
Add support for view scoped events to the event bus

[2015-02-06 13:55] peholmst commented on #178
This will require some changes to the code, since the ViewScope currently relies on UI.getCurrent() returning a non-null value. Currently, UI.getCurrent() returns null when running tests.

[2015-02-06 13:55] peholmst commented on #178
Either change the ViewScope so that it also works with a pluggable strategy pattern, or change the test classes so that UI.getCurrent() is populated properly.

[2015-02-06 17:25] GJRTimmer commented on #176
Progress slowing down, need to rewrite the SpringViewProvider to allow more pre-checks for secured views so the new ```SecuredNavigator``` can handle the view request accordingly.

[2015-02-07 08:11] eiswind commented on #169
@GJRTimmer I just opened a pull request with a working example. Feel free to have a look at it :)

[2015-02-07 10:05] GJRTimmer commented on #169
I will look at it this weekend.

[2015-02-09 06:35] peholmst commented on #169
Fixed the pull request. In Spring Boot, servlet listeners are registered as ordinary Spring beans.

[2015-02-09 06:36] peholmst commented on #169
And web socket pull does indeed seem to work. We should try it out with some more advanced samples as well, though.

[2015-02-09 06:38] peholmst commented on #169
Works with the EventBus sample as well, which indicates that at least the scopes work properly.

[2015-02-09 08:29] eiswind commented on #169
Nice to learn about the ServletListener. I just stumbled into this "by accident".

[2015-02-09 08:34] peholmst commented on #169
@eiswind @GJRTimmer  I want to test this with all the scopes and the security features enabled. If it works as expected, we should document this and maybe even enable the SessionSupport listener by default if server push is enabled.

[2015-02-09 08:41] GJRTimmer commented on #169
Go ahead;

@peholmst might it be an idea to create a test for this within the spring-vaadin-test package.

[2015-02-09 08:42] GJRTimmer commented on #176
Hit a wall, breaking it down slowly.

[2015-02-09 08:45] peholmst commented on #169
@GJRTimmer The more tests we write, the better. We've (or at least I've) been too lazy in that department during this project. I just don't really know how you'd set up a reliable test for this. Any ideas?

[2015-02-09 08:46] peholmst commented on #51
See #169

[2015-02-09 14:35] GJRTimmer commented on #176
Done

[2015-02-09 14:36] GJRTimmer commented on #176
@peholmst could you please checkout branch ```dev/security``` and look at the new ```security-sample-single``` and look at the changes I've made.

Checkout the massive security upgrade.

Hope you like them.

[2015-02-09 14:51] GJRTimmer commented on #176
TODO Add ```SpringErrorHandler``` to ```SecuredUI``` to handle ```AccessDeniedException```

[2015-02-10 06:55] peholmst commented on #176
@GJRTimmer I've now have had a look at your security changes and especially your sample applications. You've certainly put some effort into this, which is highly appreciated. That said, I do have some comments.

The problem I see with the single-UI approach, is that it seems to rely a lot on views and the Navigation API, and forces the user to use them in a way that at least I myself have never do

[2015-02-10 07:49] peholmst opened #181 "Write tests for the event bus module"
Move event bus tests from spring-vaadin-test to spring-vaadin-eventbus. Write missing tests.

[2015-02-10 07:50] peholmst opened #182 "Write tests for the I18N module"
Write tests (unit and/or integration) for the I18N module

[2015-02-10 12:06] Alan47 opened #183 "Please make "org.vaadin.spring.boot.config.StaticContentServlet" class public"
Hi,

I'm trying to set a couple of Vaadin parameters (primarily "productionMode") programmatically. To do so, I have subclassed `SpringAwareVaadinServlet` and annotated it with `@Component`, as indicated in the JavaDocs. This works like a charm. However, I also need to set the productionMode parameter on the static content servlet. I've checked your code, and `VaadinServletConfiguration` seems to

[2015-02-10 12:20] LukaszByczynski commented on #183
You can add parameter to application configuration:

[code]

[2015-02-10 12:29] Alan47 commented on #183
Thanks, but unfortunately I can't do that for various reasons. I need to infer this information from various other sources at startup and set it programmatically.

[2015-02-10 12:33] LukaszByczynski commented on #183
You can still set this programmatically at startup using additional arguments to SpringApplicationBuilder()

[2015-02-10 13:18] GJRTimmer commented on #176
@peholmst You are right, and I agree with you. The single-ui setup I've created might not be the best way to go. As you said earlier we need to think about what the best direction is we should pursue.

What I think we definitely need is some way to detect and handle the Spring ```AccessDeniedException```.  Within [markoradinovic](https://github.com/markoradinovic/Vaadin4Spring-MVP-Sample-SpringSec

[2015-02-10 17:02] Alan47 commented on #183
Okay, I never used that before, I'll check it out, thanks for the pointer.

Still, it seems strange to me why the dynamic Servlet is public and configurable by overriding while the static servlet is not...

[2015-02-11 07:57] doggie1989 opened #184 "Gradle Config Version?"

[2015-02-11 08:20] peholmst commented on #183
The static servlet is IMO an ugly hack that should be replaced with something nicer. I can make it public, but please be aware that it will most likely disappear in the near future.

[2015-02-11 08:21] peholmst commented on #184
Could you please provide some more details?

[2015-02-11 08:23] peholmst commented on #176
I need to think about this. We need to approach it from both the POV of a view based application and the POV of a single view application (that does not use the navigation API at all). We also need to decide how much we are going to provide out of the box and how much the developers are required to set up themselves.

[2015-02-11 08:24] peholmst commented on #176
So the situations where we might end up with an AccessDeniedException are when we invoke a protected service method in the backend, or try to navigate to a protected view? Are there any other cases?

[2015-02-11 09:42] GJRTimmer commented on #176
Both cases are correct, when you try to access a protected service / method on the backend and navigating to a protected view.

Other cases are:
- Invalid session
- expired session / credentials
- Incorrect remember me token

[2015-02-11 10:00] peholmst commented on #176
If we are building a single UI application, all session problems should result in the UI being reloaded, since that's the only way to recover as far as I know. As for the Remember Me token, I assume this is something that should also be checked by the UI's init method, where the UI decides whether to show the login screen or the main screen.

IMO, if you try to access a protected service and get a

[2015-02-11 10:10] LarsMilland opened #185 "Missing Authentication object in SecurityContext when using @Secured annotation"
Navigation from one view to another using "navigateTo" is not working when the target view of the navigation is annotated with a @Secured("ROLE_USER") annotation.

In trying to use the Vaadin Spring Security implementation of your project, which works just fine for the initial load of a secured view, the problem occurs when navigating across to another view as shown here with a sample from a butto

[2015-02-11 10:34] doggie1989 commented on #184
hi Peholmst

Our company is using Gradle to build project.
Do you have a sample project which use Gradle.

[2015-02-11 11:04] peholmst commented on #184
Hi! Currently, there is no Gradle sample project. See #46 .

[2015-02-11 11:05] #184 closed

[2015-02-11 11:15] GJRTimmer commented on #176
About rememberme: When spring finds a valid rememberme token, it authenticates the user based upon the token. You should indeed check if the user is authenticated within the init method and then redirect.

You said that when accessing a protected service you should not be redirected, I disagree, when a user loads a URL from his bookmarks but is no longer authenticated, then he should be redirected

[2015-02-11 11:18] peholmst commented on #176
As for the redirection upon access denied when accessing a service, I'd like the application to know the difference between access denied as in "you have not authenticated and need to login" and as in "you are authenticated, but your permissions are not sufficient to access this service".

In the first case, you should be redirected to the login screen and I think this should happen automatically

[2015-02-11 11:36] GJRTimmer commented on #176
Agreed.

In the first case you should be redirected to the login, after which to return to your original request, and in the second case you should be given an error, because even while signing in you cannot magically get more access right.

[2015-02-11 11:40] peholmst commented on #176
I think we should build a single UI application that showcases all these features, and then try to make the framework support it.

[2015-02-11 11:48] GJRTimmer commented on #176
Good plan, do you want to use the dev/security branch as a initial setup or start from scratch, I think maybe starting from scratch is not a bad idea.

shall we create a new branch for this ?

[2015-02-11 11:55] peholmst commented on #176
Let's create a new branch, and start with the demo applications.

[2015-02-11 12:01] GJRTimmer commented on #176
Good plan,

If I could make a suggestion. Please install nodeJs, npm, bower, and create a empty ```JHister``` project. I always borrow a lot from them, and their empty project is I think a good sample of what we should be aiming for concerning our demo applications. The integrate very good with Spring and have a lot a default spring class we could use.

[2015-02-11 12:03] GJRTimmer commented on #185
Reproduced

[2015-02-11 12:12] peholmst commented on #176
I'll have a look. I'm currently busy with some other projects, so if you find the time, feel free to create the branch and start on the demo app yourself (but put a comment about it here so that we don't do overlapping work in case I also find some free time).

[2015-02-11 12:33] GJRTimmer commented on #185
Problem is caused because /UIDL/** which allows communication between Vaadin Server and Client is added to the ignored chain, this causes the described behavior. Because the /UIDL/** request / responses are not authenticated, not even with a ROLE_ANONYMOUS.

[2015-02-11 12:39] #185 closed

[2015-02-11 12:47] GJRTimmer commented on #185
@LarsMilland please check updated security-sample

[2015-02-11 12:47] GJRTimmer commented on #176
branch feature/demo created

[2015-02-11 12:59] peholmst commented on #176
Thanks.

[2015-02-11 14:06] GJRTimmer commented on #176
@peholmst Full demo application framework provided within branch feature/demo, project setup based upon official vaadin multi-module project creation.

I have not created security and database configuration; this we add later I think maybe you can create a nice mainview or maybe you have something lying around which we can reuse ?

Also some of the classes come from the ```JHipster``` project.
Don

[2015-02-12 08:31] #183 closed

[2015-02-17 00:56] markoradinovic opened #187 "Atmosphere in production"
Hi,
I'm getting this exception on application startup.

[code]

This is only happening when running  as a packaged application (java -jar application.jar).

It's seems like this doesn't affect Push communication.

[2015-02-17 20:03] KyleRogers commented on #187
I think this is not a vaadin4spring but an embedded tomcat with atmosphere issue. See  https://github.com/jhipster/generator-jhipster/issues/471 and https://github.com/Atmosphere/atmosphere/issues/1706

You can try to upgrade to latest atmosphere 2.2.3+

[2015-02-17 20:41] markoradinovic commented on #187
Ok, thanks.

[2015-02-17 20:41] #187 closed

[2015-02-18 10:36] knacht-net opened #188 "@EnableTouchKitServlet and @EnableVaadinServlet not working together"
We are currently evaluating vaadin4spring together with touchkit support.

This is our main Application

    @SpringBootApplication
    @ComponentScan(basePackages = "foo.bar")
    @EnableTouchKitServlet
    @EnableVaadinServlet
    public class Application {

	public static void main(String[] args) {

		SpringApplication.run(Application.class, args);

	    }

    }

And the following UIs

    @Va

[2015-02-18 11:07] evacchi opened #189 "Setting a default error page"
The default application behavior (at least to me) is to dump exceptions on the log, but nothing is shown on screen. e.g.:

[code]

I am not sure whether I am misconfiguring Spring or that is the expected behavior. How can I make Spring show the error in the browser?

thanks

[2015-02-18 13:06] knacht-net commented on #188
Ok, my fault. As stated in the README.MD

     In this case, remember to make sure the servlet's URL mappings are not conflicting

I thought it is enough to add the Path parameter.
Solved it by adding

    touchKit.servlet.urlMapping=/mobile/*
    vaadin.servlet.urlMapping=/main/*

to my application.properties

[2015-02-18 13:06] #188 closed

[2015-02-19 07:14] #178 closed

[2015-02-19 07:15] peholmst commented on #179
Preliminary support already added.

[2015-02-19 07:15] #179 closed

[2015-02-19 07:16] peholmst commented on #164
Migration will be done as soon as the official add-on reaches beta-stage (currently in Alpha).

[2015-02-19 07:22] peholmst commented on #176
@GJRTimmer The demo project setup looks like it could be very useful in a real world application, but for the sake of demonstrating Vaadin4Spring it is IMO a huge overkill. There are so much stuff in there that does not have anything to do with Vaadin, that you risk getting lost in the details. IMO the single UI demo application should consist of:
- a single UI
- a couple of views that require dif

[2015-02-19 07:26] tnaskret opened #190 "@Secured Ignored when access should be denied"
Is sample-security example fully functional or it's missing something because right now it doesn't matter who u login as u always  have access to secured view. Am i missing something?

[2015-02-19 07:30] peholmst commented on #190
The security integration is still a work in progress. See #176

[2015-02-19 07:33] peholmst commented on #176
As for the view provider, I suggest the following:
- It is possible to set an Access Denied view
- When access to a view is denied, and the Access Denied view is set, it is shown instead
- When access to a view is denied and no Access Denied view is set, the provider behaves like the view did not exist at all.

This way there is no need to customize the Navigator itself.

[2015-02-19 07:36] peholmst commented on #164
https://github.com/vaadin/spring

[2015-02-19 07:50] GJRTimmer commented on #190
@tnaskret It's indeed a work in progress, you are correct you shouldn't have access to the secured view when logged in as 'admin'.

[2015-02-19 08:36] GJRTimmer commented on #176
@peholmst Good idea, I will look into it.

[2015-02-19 08:39] peholmst commented on #176
@GJRTimmer I'm currently working on the Access Denied view. Should have it done later today if no problems show up.

[2015-02-19 09:08] evacchi commented on #189
basically whenever an application is raised in the application itself. Here is a simple way to reproduce:

[code]

result in the console (nothing is shown on the screen):

[code]

[2015-02-19 09:10] peholmst commented on #176
@GJRTimmer Support for Access Denied view added in commit [9830d6f].

[2015-02-19 09:19] peholmst commented on #189
OK, I'll have a look.

[2015-02-19 09:22] peholmst opened #191 "EventBus sample broken because of view scoped event bus"
Apparently, when autowiring the UI scoped event bus, Spring also tries to instantiate the view scoped event bus, causing an error. This probably means that if a session scoped event bus is autowired at some point where there is no active UI, a similar error will be thrown. Defaulting to using proxies on the other hand might have some strange side effects when working with multiple threads.

[2015-02-19 09:35] GJRTimmer commented on #189
Thought:
To me it looks like we have to find a smart way to link spring default /error handler into Vaadin.
On an error spring tries to load / redirect the /error handler, and this is not handled by Vaadin.

[2015-02-19 09:36] peholmst commented on #191
Suggestion: using interfaces instead of an enum to determine the scope of the event bus. Then, you'd also be able to fetch the correctly scoped event bus programmatically from the application context.

[2015-02-19 09:36] evacchi commented on #189
yup, that was my thought as well, there is probably a way to fallback on Spring's default

[2015-02-19 11:37] #191 closed

[2015-02-19 11:38] peholmst opened #193 "View scoped event bus demo"
Create a demo app or update any of the existing ones to showcase the view scoped event bus.

[2015-02-19 11:40] peholmst commented on #154
This task might be transferred to the official add-on team once the first version of the Vaadin official Spring add-on is released.

[2015-02-19 11:41] peholmst commented on #59
Closing for now. If there are still problems, create a new issue.

[2015-02-19 11:41] #59 closed

[2015-02-19 11:42] peholmst commented on #76
This issue will be addressed by the official Vaadin Spring add-on that is currently under development. See https://github.com/vaadin/spring.

[2015-02-19 11:42] #76 closed

[2015-02-19 11:43] peholmst commented on #61
This task might be transferred to the official add-on team once the first version of the Vaadin official Spring add-on is released.

[2015-02-19 11:44] peholmst commented on #48
This task might be transferred to the official add-on team once the first version of the Vaadin official Spring add-on is released.

[2015-02-19 15:05] GJRTimmer opened #194 "Compile PUSH Sample Missing license"
@peholmst Since today I'm unable to compile the PUSH sample, I've got an error stating I'm missing a PRO license for Vaadin Charts 2

[code]

@peholmst any suggestion how to fix this.

[2015-02-19 15:10] LukaszByczynski commented on #194
Unfortunately, Vaadin Charts doesn't have possibility to use AGPL license, due limitation of HighCharts license.

[2015-02-19 15:13] FearlessHyena commented on #154
hi Petter is there an approximate timeline for the official add-on release

[2015-02-19 15:18] GJRTimmer commented on #194
@peholmst @LukaszByczynski A license requirement should never block a build, any suggestion on how to fix or bypass it ?

[2015-02-19 15:24] LukaszByczynski commented on #194
Generete trail license or ask Vaadin guys for the free pro tools plan. Commercial tools from Vaadin requires valid licence only during compilation. I think PUSH example doesn't need to use this fancy charts.

[2015-02-19 15:39] peholmst commented on #194
Sorry, I didn't realize you couldn't use the new Charts without a commercial license. I will remove Charts from the Push sample ASAP. If you can't wait, feel free to do it yourself. :-)

[2015-02-19 15:40] peholmst commented on #154
I think the beta will be released in a few weeks, but it will not include support for serializable sessions.

[2015-02-19 16:11] GJRTimmer commented on #194
@peholmst I can wait, I will await your removal, I don't know how to change the sample to keep it intact when removing the add-on.

Compilation is possible by excluding the push artifact.
[code]

[2015-02-19 16:13] GJRTimmer commented on #190
Reproduced:

Marked as critical.
View is returned while access should be denied to the view, this does not only effect the sample.

[2015-02-19 19:42] GJRTimmer commented on #189
I think we somehow need to integrate the spring ```/error``` with a UI's error handling, or capture and redirect.

In the sample created by [markoradinovic](https://github.com/markoradinovic/Vaadin4Spring-MVP-Sample-SpringSecurity) there is a custom ```SpringErrorHandler``` which is set as the default error handler of a UI. This error handler is customized to capture and handle the ```AccessDenied

[2015-02-19 19:50] GJRTimmer commented on #176
I've finally got the full rememberme functionality working, including with a ```AuditEvent``` handling which stores the token into a database to allow rememberme with application restart.

It's fully working, however changing my setup to a sample which can be used within the project samples will take time. It;s a full Vaadin+Spring-Security+Spring-LDAP+MySQL project. So it could take more time the

[2015-02-19 19:51] GJRTimmer commented on #190
Removed label samples, because it applies to the entire ```vaadin-spring-security``` module.

[2015-02-19 20:05] GJRTimmer commented on #190
Reproduction logging

[code]

The access delegation leaves it to the second hook of the ```SecuredViewProviderAccessDelegate``` the voters all return either ```0``` or ```-1```.
A ```AccessDeniedException``` is logged by my AOP logger, and is saved within the database as a ```AuditEvent``` so far so good, however, the view is still returned to the user.

[2015-02-19 20:25] GJRTimmer commented on #190
[code]

Interesting behavior;
```SecuredViewProviderAccessDelegate``` leaves the decision to the second hook, while the second hook of ```isAccessGranted()``` decides true ???????

[code]

Apparently viewSecured must be null or there is no ```AccessDecisionManager``` ????
Weird.

[2015-02-19 20:31] GJRTimmer commented on #190
@peholmst @tnaskret Problem located.

```SecuredViewProviderAccessDelegate#L71```

[code]

Return ```null```.

[2015-02-19 20:42] peholmst commented on #190
@GJRTimmer Does view.getClass() return the correct class or some kind of CGLIB enhanced class? What happens if you try to look up the annotation using the method in ApplicationContext instead (it is named something like findAnnotation)?

[2015-02-19 20:43] peholmst commented on #190
In that case, we should probably change the access delegate API so that the bean name is also provided in the second hook.

[2015-02-19 20:44] GJRTimmer commented on #190
Logging for ```MainView```

[code]

Logging for ```AdminView```

[code]

It's a proxy bean ?!?!?

[2015-02-19 20:45] GJRTimmer commented on #190
View is identical to MainView, same annotations.
I only changed a label at to of the page. Both are ```@VaadinUIScope```

[2015-02-19 20:47] GJRTimmer commented on #190
@peholmst you are correct it's somekind of CGLIB enhanced class I don't know why.

[2015-02-19 21:25] GJRTimmer commented on #190
Reason: MethodSecurityInterceptor

[2015-02-19 21:25] GJRTimmer commented on #190
I'm going to sleep on this.

[2015-02-20 06:36] #194 closed

[2015-02-20 08:48] peholmst commented on #189
Exceptions that are thrown when invoking beans from within the UI should already be handled by the UIs error handler. I assume this has to do with errors that occur outside of a UI?

[2015-02-20 09:16] peholmst commented on #176
Isn't the remember me authentication supposed to happen before UI.init()? Then, in UI.init(), you'd have something like this:

[code]

[2015-02-20 09:16] evacchi commented on #189
@peholmst nope, see my code above https://github.com/peholmst/vaadin4spring/issues/189#issuecomment-75021864

@GJRTimmer I think AOP is probably overkill. I'm not a Spring expert, but I guess there is a clean way to show the standard /error page. I feel like either Vaadin or Vaadin4Spring are inadvertedly "stealing" the default somehow.

[2015-02-20 09:30] peholmst commented on #189
@evacchi Do you run the application as a standalone Spring boot application or as a WAR? When I tried to run a standalone application that threw an exception in UI.init(), I got the standard Tomcat HTTP Status 500 page.

[2015-02-20 09:58] evacchi commented on #189
that is really strange. I am getting it by running as standalone. May ask you to look at the demo app for the field-binder? https://github.com/tyl/field-binder if I throw an exception in there I get the error above. might have something to do with my config, but I really don't see how

[2015-02-20 10:30] peholmst commented on #189
I'll have a look.

[2015-02-20 10:38] peholmst commented on #189
@evacchi I have the demo app up and running. Is there anything in particular I should try?

[2015-02-20 10:42] evacchi commented on #189
just edit the file `src/main/java/org/tylproject/demos/fieldbinder/Main.java` so that it throws an exception. Just put a `throw new Error()` at the end of the `init()` method

[2015-02-20 10:47] peholmst commented on #189
Reproduced. I see an empty screen.

[2015-02-20 11:05] evacchi commented on #189
just in case: the demo on the `1.3-SNAPSHOT-gridsupport` branch uses vaading4spring 0.0.5-SNAPSHOT

[2015-02-20 11:06] peholmst commented on #189
OK, thanks

[2015-02-20 13:57] GJRTimmer commented on #176
The Remembe Me authentication is supposed to happen before you reach the ```init()``` the attached rememberme token with the request can be expired, or maybe there was a theft attack on the request.

The RememberMeAuthenticationFilter is then one that should be responsible for the rememberme authentication. When all is correct the rememberme authentication filter populates the ```SecurityContext``

[2015-02-20 13:57] GJRTimmer commented on #190
Investigating DONE.

[2015-02-20 14:15] peholmst commented on #176
Now I don't really follow you, why would you even want to take over RememberMe in the UI.init()? I've never suggested anything like that.

[2015-02-20 15:02] GJRTimmer commented on #176
@peholmst Sorry wrong interpretation on my end.
I suggest we try to get a working demo first.

[2015-02-20 15:07] peholmst commented on #176
No worries. Getting a working demo sounds like a plan.

[2015-02-21 18:03] manish211 commented on #166
Could you please elaborate on what was the mistake and how you corrected the same in the configuration of Spring-Security?

[2015-02-23 04:50] sniperiano02 opened #196 "JpaConfiguration_Spring4Vaadin"
I have 2 maven projects one that contain the backend and all spring jpa and presentation project that contain vaadin4spring with ui and views etc..and all that work fine with embedded tomcat 7 but when i change it to deploy in my tomcat 7  I got the ui but when i use a view that use that has some autowired services from backend i got  "classnotfoundexception" ,after searching for the reason for th

[2015-02-23 06:18] peholmst commented on #196
Have you verified that your WAR file that you deploy to your Tomcat also contain the backend JAR?

[2015-02-23 08:39] sniperiano02 commented on #196
Yes the JAR is there

[2015-02-23 08:44] peholmst commented on #196
How do you deploy your app, from within Eclipse or manually by dropping the WAR into the Tomcat webapps directory?

[2015-02-23 08:45] sniperiano02 commented on #196
from eclipse

[2015-02-23 08:49] peholmst commented on #196
Please try to build the WAR from the command line and deploy it manually. It it works then, the problem is within Eclipse. If it does not, the problem is in the Maven configuration or in the code.

[2015-02-23 08:57] sniperiano02 commented on #196
Sorry, but another question if there is a vaadin addons to work with simple spring with xml files (applicationContext.xml etc ...) not for spring boot ?

[2015-02-23 09:02] peholmst commented on #196
The official Spring add-on, which is based on Vaadin4Spring, supports simple Spring XML files. You can find it here: https://github.com/vaadin/spring

First draft of tutorial: https://vaadin.com/wiki?p_p_id=36&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=row-1&p_p_col_pos=2&p_p_col_count=4&_36_struts_action=%2Fwiki%2Fview&p_r_p_185834411_nodeName=vaadin.com+wiki&p_r_p_185834411_title=

[2015-02-24 00:53] dimmyjr opened #197 "I18n method get with default locale"
In the i18n class in the method 'get', the catch could take the default bundle. For example: getMessage (code, arguments, null);

[2015-02-24 07:09] peholmst commented on #197
How about making this behaviour configurable, so that you can specify if you want to try the default bundle before returning the !code ?

[2015-02-24 12:48] dimmyjr commented on #197
Nice. Whereas the default is no Locale.

[2015-02-24 20:33] benheilers opened #198 "I18N violates contract of java.io.Serializable"
When stopping tomcat we see the below exception.  By using a remote debugger with a breakpoint on line 1183 of ObjectOutputStream, I found that the problem is the field I18N.applicationContext.

You have marked the class org.vaadin.spring.i18n.I18N as Serializable, but you've provided it with a field applicationContext which frequently does not implement Serializable (and - I think - it doesn't ma

[2015-02-24 20:41] benheilers commented on #198
I just noticed https://github.com/peholmst/vaadin4spring/issues/1 and https://github.com/peholmst/vaadin4spring/issues/154, but I think specifically declaring the class I18N to implement Serializable is still a mistake and not mentioned in those issues.

[2015-02-25 06:29] peholmst commented on #198
Yes, you are right. I'll remove the Serializable interface until I've figured out how to make the session serializable.

[2015-02-25 06:56] #197 closed

[2015-02-25 06:56] #198 closed

[2015-02-25 07:08] peholmst commented on #182
Test for the I18N class added.

[2015-02-26 07:02] GJRTimmer commented on #166
I will look into my code so see what caused it.

[2015-02-26 11:18] pesse opened #199 "VaadinSession autowireable?"
Hey guys,

do you think it would be reasonable to add a VaadinSession-Bean configuration in the AutoConfiguration part so it is easy to just @Autowire the current VaadinSession?

Pesse

[2015-02-26 20:32] mibutec opened #200 "Support for containers based on Repository"
Since I'm not using MongoDB I can't use JPAContainer, so I would love to use a Container based on PagingAndSortingRepository. I wonder I didn't find such a thing. Would that be possible (after a simple prototype it seems so)? Is that on the roadmap?

[2015-02-27 10:24] christoph-frick commented on #200
you are _not_ using mongo?  what relevance has that?  what are you using?  have you tried the Lazy Query Container https://vaadin.com/directory#addon/117 ?

[2015-02-27 10:49] mibutec commented on #200
Sorry, bad typo: I'm using MongoDB. That comes with no JPA support in Spring, so I think I cant use JPAContainer

[2015-02-27 10:55] pesse opened #201 "Is it possible to configure Navigator as UIScoped Bean?"
Hey,

I guess I'm still struggling with the whole Spring IoC mechanic.
I was wondering if it is possible to configure a Vaadin Navigator as UIScoped Bean from a specific UI so I am able to Autowire it in my UI/View Components.
Has anyone of you experienced guys a hint?

Pesse

[2015-02-27 11:21] peholmst commented on #199
This should be pretty easy to do.

[2015-02-27 11:22] peholmst commented on #200
I guess we could write a container for a paging and sorting repository at some point, but I can't really tell when yet.

[2015-02-27 11:24] peholmst commented on #201
I'm not 100% sure you can configure it as a UI scope bean, but I think we should figure out a way to make it possible to autowire the current UI's navigator.

[2015-02-27 11:38] christoph-frick commented on #200
ok.  just to also mention it, i use this addon in my recent mongo/springboot/vaadin project https://vaadin.com/directory#addon/mongodb-container-addon

[2015-02-27 12:03] KyleRogers commented on #201
Its possible but causes headaches in Multi-UI environments due to the cyclic dependency between UI and Navigator. This is not a vaadin4spring problem but a bad design decision in core Vaadin.

There are two problems at hand:
- First the navigator must be initialized together with the UI or at least before it is used but it will register itself with the UI, that means there is no object at all that

[2015-02-27 13:16] pesse commented on #201
Thanks for the replies - so I guess it would be more reasonable to use the EvenBus and some kind of NavigationEvents to have the components losely coupled in a Multi UI environment, right?

[2015-02-27 13:34] pesse commented on #199
Looking forward to see and learn how this is done correctly

[2015-03-01 17:58] Tonix-Tuft opened #202 "Publish version 0.0.5 on the Maven central repository?"
I am trying to use the version 0.0.5, which is supposed to be the latest version of the event bus framework, but it seems that it is not published on the Maven central repository.

http://stackoverflow.com/questions/28786579/how-to-use-the-latest-version-of-vaadin4spring-eventbus-framework-with-maven?noredirect=1#comment45862929_28786579

I have cloned the whole `vaadin4spring` repository and run

[2015-03-01 20:29] peholmst commented on #202
No, it's not published yet since not all the tasks that are planned for that release have been completed yet. See #170 .

[2015-03-01 20:29] #202 closed

[2015-03-01 20:31] peholmst commented on #201
I'd definitely go for the EventBus and NavigationEvents.

[2015-03-04 09:17] peholmst opened #203 "Investigate conflicts between Vaadin and Spring Security"
There are a few things such as CSRF protection and session management that both Vaadin and Spring Security try to handle. This can lead to conflicts and strange errors. We have to investigate what features are duplicated and how to handle them.

[2015-03-05 08:07] GJRTimmer commented on #203
For CSRF, I've opted in all samples to disable its' use within Spring Security. What kind of strange errors are you getting ?

I believe only one should be enabled.

[2015-03-05 08:44] pesse commented on #203
My experience is also that you should just disable Spring Security CSRF protection when using Vaadin4Spring. Since I did, everything seems to work pretty well in my current project.

[2015-03-05 08:44] peholmst commented on #203
We've experienced push stability problems with Spring Security. Sometimes, the UI freezes and you have to do a hard refresh to get a new UI. We don't know what's causing this, but one possibility is that Spring Security does something with the session that is not compatible with Vaadin push.

[2015-03-05 09:30] GJRTimmer commented on #203
Do you have some reproduction steps for me ?

[2015-03-05 10:59] peholmst commented on #203
No we don't, this problem is completely random. We have not been able to reproduce it, but still it happens every now and then. However, sometimes, we've seen this message in the logs: "Session expired before push was disconnected. This should never happen."

[2015-03-05 11:06] moberwasserlechner opened #204 "Support message reloading in I18N like ReloadableResourceBundleMessageSource"
If new or changed i18n messages are picked up automatically the development speed should improve because no server restarts are required anymore. For those using JRebel restarting will shrink to a minimum.

For development the period should be set in seconds using a application property or a parameter in @EnableVaadinI18N.

In production environments the reloading should be turned off.

[2015-03-05 11:09] peholmst commented on #204
This is a good feature request. Will implement at some point.

[2015-03-05 11:24] monp commented on #203
The FileDownloader extension is not working with "frameOptions" enabled. I've also experienced some problems with push months ago, I've figured out that web filters were completely ignored by push requests.. That's maybe a clue.

[2015-03-05 11:43] peholmst commented on #203
@monp What transport protocol were you using for push? Websockets, long polling or streaming?

[2015-03-05 11:57] monp commented on #203
It was Websockets... that's probably why ^^.

[2015-03-05 12:04] peholmst commented on #203
@monp OK. The problems we're experiencing show up when using long polling.

[2015-03-09 08:38] enyachoke opened #205 "Vaadin UI Mixup"
I keep getting this error after a some time and I can navigate my application.
[code]
I also get this right before the error above
[code]
I noticed the SpringAwareUIProvider keeps scanning for uis several time note this
[code]

My guess is am running into this [ issue](http://stackoverflow.com/questions/23881573/vaadin-a-connector-with-id-xy-is-already-registered)

[2015-03-09 10:38] enyachoke commented on #205
I believe it is a config issue. I set the session to 60 sec which very short. Am closing this on.

[2015-03-09 10:38] #205 closed

[2015-03-09 15:19] mstahv commented on #205
It is [a minor bug in Vaadin](http://dev.vaadin.com/ticket/16348).

[2015-03-09 23:57] yarix opened #206 "samples/security-sample does not work due to missing bean HttpService"
Caused by: org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type [org.vaadin.spring.http.HttpService] found for dependency: expected at least 1 bean which qualifies as autowire candidate for this dependency. Dependency annotations: {@org.springframework.beans.factory.annotation.Autowired(required=true)}

[2015-03-10 00:37] yarix commented on #206
I've discovered that the problem was that I run the example with the official vaadin-spring-boot-0.0.1 which does not have the class org.vaadin.spring.http.HttpService.
using the older spring-boot-vaadin-0.0.5 solve the problem.

I'm closing the issue.

[2015-03-10 00:37] #206 closed

[2015-03-17 09:49] michahirsch opened #209 "Push long polling freeze UI"
Hi,

The push annotation with long-pooling freezes the Vaadin UI and I can see an endless vaadin load indicator.

Environment
- Vaadin 7.4.1
- vaadin-lazyquerycontainer 7.4.0.0
-  spring-boot-vaadin 0.0.4.RELEASE

I'm using also then LazyQueryContainer to load beans in Vaadin Tables, it seems that the first page is loading correctly and the entries are shown in the table but the vaadin load indica

[2015-03-17 10:32] LukaszByczynski commented on #209
I had same issues. Long polling hangs randomly page. I found workaround - reload page. Unfortunately, it's makes a user experience horrible fight with page reloads. After week of test we change push transport to Websocket. Current version 7.4.1 works without page hanging.

I think problem with long polling is located deeply in Vaadin. There is no reconnection after failed long poll reconnection re

[2015-03-17 10:32] peholmst commented on #209
We've run into that issue in our projects as well and we don't yet know what is causing it. Are you using Spring Security?

[2015-03-17 10:41] michahirsch commented on #209
yes I'm also using spring-security

[2015-03-17 10:42] peholmst commented on #209
We have a suspicion that Spring Security's session handling could somehow be interfering with Vaadin (#203).

[2015-03-17 10:43] michahirsch commented on #209
um good indicator, it also happens that is randomly based where we start the application, on some computer it works totally fine, really interesting, maybe I'll do some investigating into the spring-security configuration thanks for the hint.

[2015-03-17 10:44] peholmst commented on #209
@michahirsch Thanks, that would be much appreciated!

[2015-03-17 14:23] peholmst commented on #170
0.0.5 released.

[2015-03-17 14:23] #170 closed

[2015-03-17 15:18] peholmst commented on #164
The complete migration is not ready yet, but the most central parts have already been migrated so I'm closing this.

[2015-03-17 15:18] #164 closed

[2015-03-17 15:18] peholmst commented on #153
The split has been done as of the migration to Vaadin Spring.

[2015-03-17 15:18] #153 closed

[2015-03-17 15:20] peholmst commented on #65
Closed; spring-vaadin and spring-boot-vaadin are no more.

[2015-03-17 15:20] #65 closed

[2015-03-17 15:21] peholmst commented on #31
I'm closing this ticket. Please reopen or create a new one if needed.

[2015-03-17 15:21] #31 closed

[2015-03-17 15:22] peholmst commented on #61
Does not apply to Vaadin4Spring any more. If this is still a problem, report it here: http://dev.vaadin.com/

[2015-03-17 15:22] #61 closed

[2015-03-17 15:23] peholmst commented on #48
Does not apply to Vaadin4Spring anymore. If this is still a problem, report it here: http://dev.vaadin.com/

[2015-03-17 15:23] #48 closed

[2015-03-17 15:26] peholmst commented on #51
See #209 #203

[2015-03-18 07:13] #199 closed

[2015-03-18 07:15] peholmst commented on #121
I'm closing this. Both can continue to live as their own modules.

[2015-03-18 07:15] #121 closed

[2015-03-19 04:53] benheilers opened #211 "UI Provider implementations need to be serializable"
Similar to https://github.com/peholmst/vaadin4spring/issues/198, I noticed that AbstractSpringAwareUIProvider is not serializable.  This is demonstrated with a very simple application using spring-boot, spring-vaadin, and spring-session.

First a working application:
[code]

This can be built with the build.gradle file:
[code]

Now to try serializing the HTTP session (such as used by tomcat when s

[2015-03-19 06:34] peholmst commented on #211
Yes, this is a known problem. Actually, it is more complicated than just making the UIProvider serializable; all the scoped beans must also be serializable and they have to be reconfigured after deserialization so that backend beans can be reinjected, listeners registered, etc. There is already a ticket for this, #154 , so I'm closing this one as a duplicate.

[2015-03-19 06:34] #211 closed

[2015-03-19 08:07] michahirsch commented on #209
Hi,

I guess it's not an spring-security problem, at least the problem I'm having. I modified the push-example a little bit by using long-polling and removing the thread which adds single entries to the Grid. Very easy example which lead into the endless vaadin loading indicator and the Grid is only filled until line 39. The weird thing is that in case the _AMOUNT_NUMBERS_  is just e.g. 10 then I

[2015-03-20 09:19] michahirsch opened #212 "Websocket Spring-Security"
Hi,

using Push with websocket transport causing problems with spring-security SecurityContextHolder, due websocket request are not going to the SecurityFilterChain of spring-security.

There are some 'ideas' solution creating an atmosphere interceptor which retrieves the SecurityContext from the session at set it into the SecurityContextHolder into the current thread.
[code]

There are couple of

[2015-03-20 14:00] peholmst commented on #209
Could you try the sample with Vaadin 7.4.2? I heard it has some push fixes.

[2015-03-20 14:01] peholmst commented on #212
I think we will need to do some changes to the boot classes to support this. Anyway, thanks for the work you've done!

[2015-03-20 14:03] michahirsch commented on #209
I already tried the 7.4.2 because I also saw the issue was fixed there http://dev.vaadin.com/ticket/17074 but it still freezing also with the 7.4.2

[2015-03-20 14:05] michahirsch commented on #212
Yes would be nice if I could use the @AtmosphereInterceptorService annotation to add the spring-security interceptor, this would be good. Maybe would be nice to support it because if you want to use vaadin with spring and push websocket I think you'll run quick into the security problem :)

[2015-03-20 14:06] peholmst commented on #209
@michahirsch OK, then we're dealing with another problem. Thanks for investigating.

[2015-03-23 14:32] sbradeen commented on #209
I am also not using Spring Security, using long-polling, but still on 7.3.9. I get the freeze very randomly.

[2015-03-31 07:51] Alan47 opened #214 "VaadinSession is never destroyed"
Hello everyone,

I'm using Vaadin4Spring with Vaadin 7.4.1. My UI is annotated with `@Push(transport = Transport.LONG_POLLING)` and I use the following settings in application.properties:

    server.sessionTimeout=400
    vaadin.servlet.heartbeatInterval=30

(the time units here are seconds, right?)

My servlet code looks like this:

    @Component
    public class MyServlet extends SpringAwareVa

[2015-04-02 08:43] hesara commented on #214
Although I don't have an immediate answer, perhaps a few things to check to dig a bit deeper:
- does disabling push make the cleanup happen or not?
- does cleanup take place if you set vaadin.servlet.closeIdleSessions (or vaadin.servlet.params.closeIdleSessions if using versions older than 1.0.0.beta2 of Vaadin Spring)?
- is VaadinSession.valueUnbound() ever called?
- does the application ever ent

[2015-04-02 10:32] Alan47 commented on #214
Hi,

thanks for the pointers. I will check them out one by one, fingers crossed that I'll find something...

[2015-04-09 21:27] sbradeen commented on #209
I finally switched to 7.4.2, specifying @Push as is, accepting framework defaults (websockets). Cursory testing shows the application is working well.

[2015-04-28 12:43] Artur- commented on #209
@michahirsch It seems like your application is never able to establish a long-polling connection to the server. If there is a proxy somewhere in between (does Spring have some kind of built-in proxy?), you are likely hitting https://dev.vaadin.com/ticket/17075.

[2015-04-29 09:40] pesse opened #217 "PreAuthorizeViewProviderAccessDelegate causes IllegalStateException when using View-scoped View"
It seems like PreAuthorizeViewProviderAccessDelegate tries to instantiate the target component when there is no View-scope available yet, causing an IllegalStateException.

[code]

I modified the Navigation example a little bit to show the problem:
https://github.com/pesse/vaadin4spring/commit/265923e78fffb461d388f3d61f237c096446f715

Don't know if this is a problem of the security extension or th

[2015-04-29 09:51] pesse opened #218 "@Secured-Tag on View causes Access Denied error (HTTP 403)"
If you try to use the @Secured tag with the newest vaadin-spring and vaadin-spring-boot version a HTTP-403 is returned.

This happens even before `public boolean isAccessGranted(UI ui, String beanName, View view)` in `SecuredViewProviderAccessDelegate` is called, which is the second hook called when we have an accessDecisionManager set up (which is default with new vaading-security-extension)

Thi

[2015-04-29 21:31] FearlessHyena commented on #203
doesn't Vaadin have CSRF protection built-in? If so would there be any need to enable csrf on the Spring WebSecurityConfigurerAdapter?

[2015-05-12 09:28] LarsMilland opened #220 "Plans for release of version 0.0.6 supporting the newly released official Spring/Vaadin"
Hi

We have been using the vaadin4spring release 0.0.5 with the security extension, and would like to migrate to the new official Spring/Vaadin integration:

https://vaadin.com/directory#!addon/vaadin-spring

In that migration we would still like to use the security extension from here - but as a release from this project supporting the security extension and the Spring/Vaadin official integration

[2015-05-12 10:40] peholmst commented on #220
I very busy with customer projects right now, so at this point, you're probably better of doing the security implementation yourselves.

[2015-05-12 12:01] pesse commented on #220
From my experience the 0.0.6-SNAPSHOT version works quite okay with security extension and official vaadin-spring addon. There are some problems with @Secured-Annotation and you should mark your views as UIScope, but besides that it works good in my current project.

[2015-05-12 12:51] LukaszByczynski commented on #220
Peter, I think you can release 0.0.6-SNAPSHOT. Issues with spring-security shouldn't block first release that works official Vaadin Spring Add-on.

[2015-05-27 13:23] eiswind opened #221 "Redirect to Login passes url hash & parameters to login"
I build my app following your example with a separate UI for login. now if I'm logged out and open any (non-root) url from the main ui like http://localhost:8080/#!users I get redirected to http://localhost:8080/login#!users which of cours must fail. Any ideas how we can solve this?

[2015-05-27 13:54] michahirsch commented on #221
I'm also interested in a fix/workaround because I'm having the same problem

[2015-06-03 23:36] zkendall opened #222 "Decouple addons from spring-vaadin"
Right now the -eventbus addon requires org.vaadin.spring.spring-vaadin. I think only for the class "org.vaadin.spring.util.ClassUtils".

I was hoping to exclude org.vaadin.spring in favor of com.vaadin.spring, but that breaks the ScopedEventBus from initializing.

[2015-06-05 05:35] binoyees opened #223 "expose event source in @EventBusListenerMethod"
It would be great to have eventsource also exposed in @EventBusListenerMethod.

Currently the event listening is based on type of payload. But this payload would be mostly domain objects of the application. These domain objects would going on every part of application and there would be multiple events based on these domain objects.
And it would be difficult to create a filter based on data in the

[2015-06-05 05:51] peholmst commented on #222
I'll see what I can do.

[2015-06-05 05:52] peholmst commented on #223
You can start by looking through these classes: https://github.com/peholmst/vaadin4spring/tree/master/addons/eventbus/src/main/java/org/vaadin/spring/events/internal

[2015-06-05 05:54] zkendall commented on #222
Cool. And if you don't take care of it right away, I might have time to do it this weekend.

[2015-06-05 06:24] peholmst commented on #222
It looks like I won't have time to work on Vaadin4Spring for at least a week, so by all means, be my guest. :-)

[2015-06-07 00:52] zkendall commented on #222
Went into the code to do this and realized it's already been done. It was just because I had pointed my project to the latest release 5, which was before this change has been started.

[2015-06-07 00:52] #222 closed

[2015-06-09 10:19] peholmst commented on #217
Yes, this is a bug. I'm currently redesigning the security support in the feature/security_refac branch, it should be fixed there already (not tested yet, though, still work in progress).

[2015-06-11 07:29] pesse commented on #217
thanks for the info.
Will it help you if I include the branch in my current developing project and report problems I run into or should I wait until you merge it into master?

[2015-06-11 08:05] peholmst commented on #217
You could try to merge my development branch, but not everything will work since some changes must be made to the Vaadin Spring add-on as well and those have not been pushed yet.

[2015-06-15 18:58] pesse commented on #217
Then I will wait until the changes in the vaadin spring add-on are pushed

[2015-06-16 07:12] initialflame commented on #220
Hello Peter, Thank you for your work! It would be great if you can release Version 0.0.6. We can't use any Snapshots in our Project and need the Spring-Security Support for the newer Vaadin version. Thx...

[2015-06-16 08:20] peholmst commented on #220
I can try to find time to release a version this week. I hope you are aware that Spring Security is currently broken and is being redesigned.

[2015-06-17 12:09] peholmst commented on #220
I have now released 0.0.6.RELEASE as-is.

[2015-06-17 12:09] #220 closed

[2015-06-17 16:35] sbradeen opened #231 "Upgrading to Vaadin 7.5 and Tomcat 8"
Hey All,
Not an issue, but I expect to upgrade to Vaadin 7.5 and Tomcat 8 in the near future. For those using this project in your applications and doing the same, if you run across any gotchas or known issues, please share!

Thanks,
Sue Osgood

[2015-06-19 06:42] rmueller83 commented on #220
@peholmst Could you please upload the new version to Maven Central? It is not there yet.

[2015-06-19 08:07] peholmst commented on #220
It should be there already. Maybe something is wrong with the sonatype staging. I'll have a look on Monday.

[2015-06-19 08:29] rmueller83 commented on #220
Sorry, the packages are already there. I confused the switch to the official addon and still searched for spring-boot-vaadin. My fault.

[2015-06-26 12:14] rafaelmembrives opened #232 "Wrong link in samples README"
The link to the "Security Sample" in the samples README.md point to "Push Sample" URL.

[2015-06-26 12:58] peholmst commented on #232
Fixed

[2015-06-26 12:58] #232 closed

[2015-06-29 09:03] siarhei-poludvaranin commented on #212
Hi,
So is there any working solution to use push web-sockets + security?
As @michahirsch suggested I:
1. Created atmosphere interceptor

[code]

2. Extended SpringVaadinServlet and provided this interceptor for org.atmosphere.cpr.AtmosphereInterceptor param

But it didn't help:( This interceptor never invoked.

[2015-06-29 11:14] michahirsch commented on #212
Hi @siarhei-poludvaranin,

my workaround is to implement my own _SpringAwareVaadinServlet_ and make it available as Spring-Service.
[code]

[2015-07-07 10:39] eiswind commented on #221
I could workaround this issue by setting
.authenticationEntryPoint(new LoginUrlAuthenticationEntryPoint("/login/#/"));

with this url everything works as expected

[2015-07-10 09:50] siarhei-poludvaranin opened #233 "AuthenticationCredentialsNotFoundException"
Hello,
When I mark my view class with @Secured annotation sometimes I get this exceptoion:

...
org.springframework.security.authentication.AuthenticationCredentialsNotFoundException: An Authentication object was not found in the SecurityContext
	at org.springframework.security.access.intercept.AbstractSecurityInterceptor.credentialsNotFound(AbstractSecurityInterceptor.java:339)
	at org.springfram

[2015-07-18 14:54] timcolson opened #234 "Security Sample Snapshot dependencies not resolving with current POM"
Looks like the 0.0.7-SNAPSHOT builds aren't in the repositories listed in the POM.

[code]

[2015-07-18 15:18] peholmst commented on #234
I'll have a look at it when I get back from my vacation in two weeks.

[2015-07-23 13:17] voodoohoo opened #235 "MVP Sample broken?"
Hi,

today I've tried the current MVP Sample. Everything is built fine, but after login an error occured:

<code>
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'mvpUI': Injection of autowired dependencies failed; nested exception is org.springframework.beans.factory.BeanCreationException: Could not autowire field: org.vaadin.spring.events.EventBus$UIEventBu

[2015-07-23 13:22] peholmst commented on #235
Yes, it looks like it is broken. I'll have a look when I return from my vacation.

[2015-07-31 09:04] typophil opened #236 "Addons Sidebar Sample not working"
Hello all,

I might say upfront that I'm new to Java, Spring and Vaadin, so I might as well qualify myself as the _douchebag of the month_ with this question. I wanted to use the addon/sidebar in a project of mine, but using Version `0.0.6.RELEASE` will give me a 500 upon browsing the page and, apart from other output in the exception, this:

    No qualifying bean of type [org.vaadin.spring.sideb

[2015-07-31 09:48] peholmst commented on #236
I'll have a look next week when I get back from my vacation. It is quite likely something is broken there.

[2015-07-31 10:52] typophil commented on #236
Thanks. Don't stress you out, enjoy your vacation. Might as well just be me who's broken. Like, if you add the `@EnableSideBar` annotation to the spring application, things change. There's another error following that one up, but that might be again something that I'm missing out on.

[2015-07-31 14:08] typophil commented on #236
Minor Update bevor I'm off into the weekend myself:

    Error creating bean with name 'org.vaadin.spring.sidebar.config.SideBarConfiguration': Injection of autowired dependencies failed; nested exception is org.springframework.beans.factory.BeanCreationException: Could not autowire field: org.vaadin.spring.i18n.I18N org.vaadin.spring.sidebar.config.SideBarConfiguration.i18n;

Is what I get now. N

[2015-08-03 09:57] peholmst commented on #234
Yes, there were no snapshot builds in the repositories of 0.0.7. I can deploy a build today. You can also resolve the problem by building the entire Vaadin4Spring project and not only the security-sample.

[2015-08-03 10:22] peholmst commented on #234
I'm closing this ticket, but feel free to reopen it if the problem still persists.

[2015-08-03 10:22] #234 closed

[2015-08-03 10:51] peholmst commented on #235
Thanks for the pull request @moberwasserlechner ! I'm closing this ticket, but feel free to open it again if it does not work.

[2015-08-03 10:51] #235 closed

[2015-08-03 10:57] peholmst commented on #236
It seems to work on my machine. Did you do a priming build of the project before running the demo?

[2015-08-03 12:17] typophil commented on #236
Hello,

thanks for getting back to this. Like I said, I'm fairly new to all that and honestly, I don't get the difference between a build and a priming build in relation to the IDE (IntelliJ) I use. I just said build the thing and it failed. So I cleaned the copy of this repo, `cloned` it again, imported the sample again and *e voilà!*: this time it worked. Sorry about that one.

That'll just brin

[2015-08-03 12:33] peholmst commented on #236
Have you tried adding @EnableI18N to  your application configuration?

[2015-08-03 13:39] peholmst commented on #236
Also please have a look at the feature/sidebar_refac branch that I just created. The side bar will be slightly refactored to support multiple implementations of the visual component. The branch contains the old accordion based side bar and a new side bar especially designed for the Valo theme. The design is not quite stable yet, though - there are a few ugly things I'd like to iron out before push

[2015-08-03 14:37] typophil commented on #236
I've added the annotation and now it works.
Regarding the new branch, that sounds really good, as the Valo theme is the theme I'm currently using/ want to use with the app.

[2015-08-04 07:46] peholmst commented on #236
My redesign is now complete and pushed to the master branch. Take a look at the sample application for the Side Bar and especially the ValoSideBarUI (after starting up the app, navigate to http://localhost:8080/valo).

[2015-08-04 07:46] peholmst commented on #236
Closing the ticket since the demo app is now working.

[2015-08-04 07:46] #236 closed

[2015-08-04 07:47] peholmst commented on #177
New side bar implementation especially designed for Valo has been added to master.

[2015-08-04 07:47] #177 closed

[2015-08-04 07:47] peholmst commented on #95
There are now two implementations of the Side Bar: one Accordion side bar and a CSS layout based side bar.

[2015-08-04 07:47] #95 closed

[2015-08-04 07:48] peholmst commented on #94
Closing since this no longer applies to Vaadin4Spring.

[2015-08-04 07:48] #94 closed

[2015-08-04 07:50] peholmst commented on #51
Closing since this is no longer relevant to Vaadin4Spring. Any issues should be reported to the official Vaadin Spring add-on project.

[2015-08-04 07:50] #51 closed

[2015-08-11 10:30] peholmst opened #243 "Section less side bar items"
Add support for section-less side bar items.

[2015-08-20 01:39] binoyees opened #244 "version 0.0.6 on the Maven central repository"
Hi

Is the development of version 0.0.6 completed ?

and will it be available on maven central repository ?

[2015-08-21 05:54] peholmst commented on #244
It is already in the maven central repository and has been for some time.

[2015-08-26 08:00] gokhanoner opened #245 "Repsonsive SideBar"
Looking to the demo, https://demo.vaadin.com/valo-theme, and see that styles etc. are same.

It would be good to have the SideBar fully responsive; when its small enough, menu will removed from view and can be seen with a menu button.

[2015-08-26 08:16] peholmst commented on #245
That's a good idea. I actually hadn't noticed that.

[2015-08-26 16:55] 00v3rdr1v3 opened #246 "SidebarIcon vanishes on @Secured Operations"
If you add @Secured("ROLE_ADMIN") to AdminOperation in security-sample-shared, the SidebarIcon disappears.

The reason for this is Spring returning a Dynamic Proxy instead of the real, annotated class when applicationContext.getType() is called in **SideBarItemDescriptor**:

    private Annotation findIconAnnotation() {
        Class<?> type = applicationContext.getType(beanName);
        while (t

[2015-08-26 16:59] peholmst commented on #246
Thanks for the report. I will fix this.

[2015-09-02 09:50] LarsMilland opened #251 "How to address SessionFixation"
Hi

In order to ensure no leakage of session data from one user context to another it is good style to clean up sessions when a login is performed. This is usually done in Spring Security by means of its default sessionfixation protection. To have the same functionality with Spring and Vaadin integrated one could perform steps as shown below - taken from login view on the click action of a "Login

[2015-09-03 08:55] gokhanoner opened #252 "SideBar Section Title padding"
Menu bar with is same with the longest Section caption. It would be good to have little space on the right of the title, like on the left. Or can we achieve this changing css & which item ?

[2015-09-03 13:29] #244 closed

[2015-09-08 09:55] peholmst opened #253 "Managed security logout does not always work"
Sometimes, the logout mechanism in the managed security demo application does not log the user out. And sometimes, it does. Need to investigate this and fix it.

[2015-09-10 01:31] gokhanoner opened #254 "VaadinSharedSecurity cannot access to configured sessionAuthenticationStrategy"
When configuring HttpSecurity, VaadinSharedSecurity autowire the sessionAuthenticationStrategy bean, but this is actually not a bean, it's defined internally & always returns null. Please add a note that users need to create a sessionAuthenticationStrategy bean and use it like

    http.sessionManagement()
            	.sessionAuthenticationStrategy(sessionAuthenticationStrategy())

This way, Vaad

[2015-09-10 02:12] gokhanoner opened #255 "VaadinSharedSecurity ignored sessionAuthenticationStrategy failures"
While using ConcurrentSessionControlAuthenticationStrategy or other, authentication can fail after successful authentication due to max. session count etc. But VaadinSharedSecurity assign authentication to context after Manager authentication, to after ```sessionAuthenticationStrategy```.

I get max. session error on login page, but if I remove the login link, it access to the page, because authen

[2015-09-10 07:39] gokhanoner commented on #252
I see that this is not an issue, it's because of the theme that I'm using.

[2015-09-10 07:39] #252 closed

[2015-09-16 14:21] xenoterracide opened #256 "Doc eventbus subscribers held with weak references?"
one of the major problems experienced with vaadin and eventbuses is that most eventbus systems hold strong references to the listeners leading to components not being able to be garbage collected asap.

when I subscribe to events how is the subscriber held? it would be nice to have that information added to this readme on it.

https://github.com/peholmst/vaadin4spring/blob/master/addons/eventbus/R

[2015-09-18 08:24] peholmst commented on #256
I can update the README. There are plans to support weak references as well: #47

[2015-09-18 08:25] peholmst commented on #233
I have not been able to reproduce this so I'm closing the ticket. If you're still experiencing the problem with the latest version, we can reopen the ticket.

[2015-09-18 08:27] peholmst commented on #218
Is this problem still present in the latest versions?

[2015-09-18 08:28] peholmst commented on #214
Since there has not been any activity on this ticket for many months, I'm closing it. Reopen if this is still a problem.

[2015-09-18 08:28] #214 closed

[2015-09-18 08:32] peholmst commented on #190
Closing since the security implementation has changed since this ticket was opened.

[2015-09-18 08:32] #190 closed

[2015-09-18 08:36] #68 closed

[2015-09-18 08:37] peholmst commented on #92
Closing since there has not been any activity for many months.

[2015-09-18 08:37] #92 closed

[2015-09-18 08:39] peholmst commented on #196
Closing due to lack of activity

[2015-09-18 08:39] #196 closed

[2015-09-18 08:41] peholmst commented on #209
Is this problem still present?

[2015-09-18 08:42] #176 closed

[2015-09-18 08:45] peholmst commented on #217
I think this is fixed now. If it is not, please reopen.

[2015-09-18 08:45] #217 closed

[2015-09-22 08:53] gokhanoner commented on #255
What I think is, instead of all this, there should be a way to invoke Spring managed authentication:

If you use form login, or basic authentication, spring-security setup will handle the necessary auth. for us. But here, we' need to call the authentication from server. And You're re--writing that code spring already implemented. You may ask someone from spring-security team how you can tap into t

[2015-09-22 11:15] peholmst commented on #255
Trying to reuse as much as possible is a good goal. It's just that some parts of the Spring Security implementation cannot be directly applied to a Vaadin application, where there are not always any HTTP requests or responses, etc.

[2015-09-22 12:40] gokhanoner commented on #255
Is it related to Vaadin PUSH or are there any other parts as well ??

[2015-09-22 12:44] peholmst commented on #255
Yes, it has to do with websocket based Push. I'm still hoping there would be a way to integrate the websocket requests with Spring Security's filter chain, but I'm not sure if that is possible.

[2015-09-22 12:47] gokhanoner commented on #255
This is added with Spring Security 4.0

http://docs.spring.io/spring-security/site/docs/current/reference/html/websocket.html

[2015-09-22 12:48] peholmst commented on #255
We have to figure out how to get that integrated with Vaadin, then.

[2015-09-22 13:11] gokhanoner commented on #255
I'm willing to help on that one, if needed.

[2015-09-22 13:19] peholmst commented on #255
That would be much appreciated! A good starting point would then be to get Vaadin shared security to work properly with Web Sockets PUSH enabled.

[2015-09-28 14:54] gokhanoner opened #259 "@UIScope view navigate listener ??"
I have ```@UIScope``` views and I couldn't find a way to calla method when user navigate to that view ? My idea is to refresh the date ob the page when the user navigates. Is it possible ? (I'm using ```@VaadinSharedSecurity```, SideBar Menu etc., all auto configured)

[2015-09-28 19:27] peholmst commented on #259
Can't you use the enter() method in your view (from https://vaadin.com/api/com/vaadin/navigator/View.html)?

[2015-09-28 20:02] gokhanoner commented on #259
It only runs first time when u enter the view. After that, it doesnt fire.
Tested.
On 28 Sep 2015 10:27 pm, "Petter Holmström" <notifications@github.com>
wrote:

[2015-09-28 20:05] peholmst commented on #259
And you have entered, left and then entered the view again?

[2015-09-28 20:07] gokhanoner commented on #259
Yes.. But it didnt fired again. I supposr because wiew is already open in
the background, because of the uiscope, it just show how i left it.
On 28 Sep 2015 11:05 pm, "Petter Holmström" <notifications@github.com>
wrote:

[2015-09-28 20:10] peholmst commented on #259
That's strange. The enter() method should fire every time a user navigates to the view, regardless of whether the instance is reused or not. I have to look into this. In the mean time, you could try overriding the attach() method and updating your view there.

[2015-09-28 20:32] cropp commented on #259
I have had this issue before when I made the mistake of having a static in
my class.

Curtis
On Sep 28, 2015 1:10 PM, "Petter Holmström" <notifications@github.com>
wrote:

[2015-09-29 06:28] peholmst commented on #6
Vaadin + Spring guides are starting to show up, so I'm closing this (e.g. https://spring.io/guides/gs/crud-with-vaadin/)

[2015-09-29 06:28] #6 closed

[2015-09-29 06:44] peholmst commented on #9
Vaadin is working on archetypes so no need to duplicate them here.

[2015-09-29 06:44] #9 closed

[2015-09-29 06:45] peholmst commented on #10
Vaadin is working on archetypes, no need to do them in the context of Vaadin4Spring.

[2015-09-29 06:45] #10 closed

[2015-09-29 07:15] gokhanoner commented on #259
Peter,

I'm closing the issue. You're right, enter() is working perfectly. I don't know how or when I tested list time.

Thanks.

[2015-09-29 07:15] #259 closed

[2015-10-02 11:40] gokhanoner opened #260 "heartbeat & Session-timeout issue"
[code]

I' using above in application.properties file & using shared security sample project. (Disabled the rememberMeServices) I'm expecting user will be logged out after 120 seconds of inactivity but nothing happens. And when I click the menus, I can access them until I explicitly press logout button. Here some logs:

[code]

As you see, there are 2 session destroyed messages for the same sessio

[2015-10-02 11:45] peholmst commented on #260
I doubt this is a Vaadin4Spring problem, sounds more like a Vaadin Spring problem. Let's see what they have to say about it.

[2015-10-02 11:48] gokhanoner commented on #260
I think so. Do you know if they look to github issues ? On the page, it says "Issues for the project are tracked in the Vaadin Trac at http://dev.vaadin.com"

[2015-10-02 11:54] peholmst commented on #260
They should get notifications whenever a new GitHub issue is created, but they do not actively track them. Vaadin Trac is the official channel for reporting issues.

[2015-10-05 19:55] peholmst commented on #255
Reopening since there should be a more long term solution to this problem.

[2015-10-14 05:12] peholmst opened #261 "Custom logout URL in managed security"
Right now, when logging out using managed security, the current page will just get refreshed. Make it possible to customize this behavior.

[2015-10-14 05:19] cropp commented on #261
I am using 0.7 release with vaadin shared spring security. With a a vaadin
logout handler and spring wired to use it on
.logout.handlerHandler(mybean).logoutUrl (/logout).

I would assume the same behavior could be defined in your vaadin logout
view. Call the vaadinSecurity.logout() then Page.getCurrent
().setLocation(somewhere)

From phone it's the best I can remember if the functions are not cor

[2015-10-26 13:34] shinchillahh commented on #253
After doing a login, vaadinSecurity.isAuthenticated() inside the init method of the UI returnes true, so the mainview is shown. But when i call the method in another view it returnes false... It seems that the user isn't logged in...

[2015-10-30 09:48] shinchillahh commented on #253
In my case the logout doesn't work because the user isn't logged in. vaadinSecurity.isAuthenticated() returnes false altough the user did a log in... So
1. vaadinSecurity.login("user", "pw") is called
2. the event SuccessfulLoginEvent is published
3. eventbuslistener method onLogin is called
-> here vaadinSecurity.getAuthentication().getName() returnes the correct username of the login!
4. showMai

[2015-12-21 16:43] khauser commented on #154
http://stackoverflow.com/questions/34400416/enableredishttpsession-fails-with-vaadin

Am I having the problem described here?

Can I do something about it?

[2015-12-21 17:08] peholmst commented on #154
Yes, that's the problem, and it is deep inside Vaadin Spring so there is no easy way of fixing it.

[2015-12-22 10:28] khauser commented on #154
I debugged myself a little bit into this and updated the question at stackoverflow. For me it has something to to with wrong serialization ids.

[2015-12-23 17:40] cyberoblivion commented on #57
I am interested in integrating  the Reactor project as well. Has there been any efforts since last year on this?

[2015-12-23 18:02] peholmst commented on #57
None. Feel free to get your hands dirty if you're interested.

[2015-12-28 10:11] khauser commented on #154
Indeed I had a preliminary bug/failure. But after "fixing" it I run into this `Caused by: java.io.NotSerializableException: org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext` exception (with this SpringUIProviders in it).

In a comment in http://stackoverflow.com/questions/29388542/notserializableexception-on-serialization-of-objects-currently-shown-by-vaadin

[2015-12-28 10:17] peholmst commented on #154
Could you please add that information to this ticket as well? https://dev.vaadin.com/ticket/18164

I doubt I will be able to fix this in Vaadin4Spring, it needs to be addressed in the official add-on.

[2015-12-28 10:21] khauser commented on #154
Okay I will. Thank you!

[2016-01-12 12:31] initialflame commented on #1
Are there some news related to this Issue ? Maybe the Time have solved the "deep problems" ?

[2016-01-12 12:50] peholmst commented on #1
I don't know whether the Vaadin dev team has done any work on this in the official add-on. The serialization problem would have to be addressed there and I'm not involved in that project.

[2016-01-14 11:03] peholmst commented on #1
Apparently, there is some progress being made: https://dev.vaadin.com/ticket/19462

[2016-01-20 09:54] rafaelmembrives opened #264 "Wrong Shared Security sample HomeView"
The Shared Security sample has the same HomeView as Managed Security Sample:

[code]
[code]

Header and body labels should have correct text.

[2016-01-22 10:45] monp opened #265 "ApplicationContext cannot be restarted"
I'm trying to use spring-boot-devtools. I don't know if it's the only issue but VaadinApplicationContext holds a static reference on the ApplicationContext which prevents the ApplicationContext from being restarted.

[code]

[2016-01-22 10:58] peholmst commented on #265
Which version are you using? This seems to be fixed in master?

[2016-01-22 11:19] peholmst commented on #246
I can't reproduce this problem. Is it still valid?

[2016-01-22 11:29] peholmst commented on #246
Closing. Please reopen if you still have a problem.

[2016-01-22 11:29] #246 closed

[2016-01-22 11:32] monp commented on #265
OK. It's working with the current snapshot version.

[2016-01-22 11:44] #256 closed

[2016-01-22 11:45] #265 closed

[2016-01-22 11:48] #264 closed

[2016-01-22 12:52] #169 closed

[2016-01-22 14:40] peholmst commented on #255
I've been doing some digging here to try to reuse as much Spring Security code as possible, but it feels very hacky. Maybe I should just try to rethink everything instead. Especially the filters are causing trouble.

[2016-01-26 14:38] peholmst commented on #212
The necessary atmosphere interceptor was added in commit 5cf5d84.

[2016-01-26 14:38] #212 closed

[2016-01-26 14:39] peholmst commented on #254
Sample application updated, README still not updated.

[2016-01-26 14:40] peholmst commented on #255
I think we just have to go with our own implementation. Plugging into Spring's filter based approach just didn't feel right for a Vaadin application. Also, Spring Security's web socket support seems to be working with STOMP only and thus could not be used for Vaadin. I added an atmosphere interceptor that transfers the SecurityContext from the session to the web socket thread instead.

[2016-01-26 14:40] #255 closed

[2016-01-26 14:42] peholmst commented on #251
It should now be possible to use Spring's default session fixation protection, although I haven't documented it yet (the shared security demo application should already use this). Will add something similar to the managed security version as well.

[2016-01-26 14:43] peholmst opened #266 "Update security readme"
Update the security readme after the changes in 5cf5d84.

[2016-01-26 14:50] peholmst opened #267 "Implement RememberMeRequestWrapper"
Implement the RememberMeRequestWrapper that mocks the presence of a remember-me parameter if requested in the login method.

[2016-01-26 15:04] #266 closed

[2016-01-26 15:06] peholmst opened #268 "Improve documentation about security"
Once the Spring Security integration is more stable and mature (it currently is not), it should be properly documented with in-depth information and samples.

[2016-01-26 15:08] peholmst commented on #260
Setting the milestone to 0.0.7. Will see if there is anything I can do about this from within Vaadin4Spring.

[2016-01-29 08:21] peholmst opened #269 "Fix failing tests"
Currently, the Maven build fails because of failed tests.

[2016-02-18 12:47] peholmst opened #270 "Injecting views as secured proxies cause strange side effects"
When adding `@Secured` to views, they are injected as proxies into the view provider. This causes strange side effects in the UI.

[2016-02-18 12:50] peholmst commented on #270
This also applies to `@PreAuthorize` views, which essentially renders the `PreAuthorizeViewInstanceAccessControl` useless.

[2016-02-18 15:18] aricooperman commented on #270
I had this issue with my views that had @PreAuthorize on them and had to change them to @Secured to work as if I used PreAuthorize I get a class cast exception in PreInvocationAuthorizationAdviceVoter:

[code]

I changed it back to Secured and it seems to work fine even though it is proxied

[2016-02-19 06:30] peholmst commented on #270
The problem is that the proxied views work sometimes and sometimes not. If you refresh a page with a proxied view in it, you will sometimes get an error complaining that the proxy class is not in the widgetset. This kind of behavior cannot be accepted in a real application.

[2016-02-19 07:39] peholmst commented on #253
I can't reproduce this problem any more with the latest Vaadin version. Also, everything seems to work with `@PreserveOnRefresh` as well, so I'm closing this ticket. If the problem reappears, I'll open a new one.

[2016-02-19 07:39] #253 closed

[2016-02-19 08:10] #270 closed

[2016-02-19 08:10] peholmst commented on #270
Looks like CGLIB proxies work.

[2016-02-19 08:33] #269 closed

[2016-02-19 14:37] #251 closed

[2016-02-19 14:48] peholmst commented on #260
It looks like this is working with the latest version of Vaadin. Closing.

[2016-02-19 14:48] #260 closed

[2016-02-19 14:51] peholmst commented on #254
README updated.

[2016-02-19 14:51] #254 closed

[2016-02-19 14:59] #261 closed

[2016-02-19 18:12] aricooperman commented on #270
Yeah, mine are CGLIB as I extends a base view class. Don't seem to have any
issues unless I use @PreAuthorize

On Fri, Feb 19, 2016 at 12:10 AM Petter Holmström <notifications@github.com>
wrote:

[2016-02-21 21:48] turgos opened #271 "Vaadin @Push with Vaadin4Spring Security"
Using Vaadin @Push with vaadin-spring-boot-starter and Vaadin4Spring Security throws exception.

Here is Vaadin related dependencies on our project:

      compile 'com.vaadin:vaadin-client-compiled:7.5.8'
      compile 'com.vaadin:vaadin-client:7.5.8'
      compile 'com.vaadin:vaadin-themes:7.5.8'
      compile 'com.vaadin:vaadin-server:7.5.8'
      compile 'com.vaadin:vaadin-push:7.5.8'

      /

[2016-02-28 05:55] peholmst commented on #271
The root problem is that you are trying to access the HTTP request while using Websocket communication, during which no HTTP requests exist at all. I also noticed you are using version 0.0.6. The security part has been heavily redesigned in 0.0.7. May I suggest you try with the latest snapshot of Vaadin4Spring and see if the problem persists?

[2016-02-28 08:23] #267 closed

[2016-02-28 09:02] peholmst commented on #209
I have not run into this problem with the newer Vaadin versions, so I'm closing this ticket.

[2016-02-28 09:02] #209 closed

[2016-02-28 10:19] #47 closed

[2016-02-28 11:04] peholmst commented on #204
I've started to work on this ticket, but I need to create a sample application (#39) before I can test that everything works as intended.

[2016-02-29 11:54] #204 closed

[2016-02-29 11:54] peholmst commented on #39
Sample application created.

[2016-02-29 11:54] #39 closed

[2016-03-02 09:54] ssindelar opened #274 "Partially secured UIs"
I don't know if it is currently possible, but I need to secure just some views with a login and leave the UI without login.

I tried to add an anonymous matcher for UI path, but this doesn't work because, when I open a secured-View a NullPointerException is thrown at DefaultVaadinSharedSecurity:194 because the SecurityContext is not set.

I think it would be a nice addition to just have a login fo

[2016-03-02 10:32] peholmst commented on #274
It sounds like something that should be managed within the application itself, but I can see if there is any way the framework could help with this.

[2016-03-07 04:52] eoliphan commented on #271
I had a similar issue.  I've an app that's pretty close to the security-sample-shared.  But the 'main' and login ui's had push enabled.  After hitting the main URL, and being redirected to login I'd get a flurry of XHR calls to login.  Removing @Push from the LoginUI seems to have fixed the problem.

[2016-03-10 16:46] toplac opened #276 "Set session timeout using VaadinSharedSecurity"
Hello,

we are using Spring Boot & VaadinSharedSecurity, and everyhting is working so far for us.
The only problem we are having, ist setting the the automaitc sesion timeout, meaning the session is valid unti the user logs out

server.session.timeout=120

But nothing happens.
Is there another solution?

[2016-03-14 12:11] peholmst commented on #276
Have you checked that the Vaadin heartbeat signals are not keeping the session alive?

[2016-03-15 10:26] knacht commented on #276
Thanks for the hint. I didnt have time to check the heartbet yet.
Does vaadin4spring take the parameter into consideration?

[2016-03-16 13:54] peholmst commented on #276
I just discovered something. It appears that when the Vaadin session expires, the HTTP session will still remain alive for the duration of the session timeout. I think the reason is that the heartbeat signals still keep the HTTP session alive, even though Vaadin will expire its own session if no other requests have been received. Once the Vaadin session expires, the heartbeats stop and eventually,

[2016-03-23 14:32] turgos commented on #271
Thank you both for your replies. As you suggested, I have upgraded to 0.0.7, separated the Login to different UI (so we have to Vaadin UIs, one for main application and one for the login) and removed the @Push from the LoginUI. To be more specific, I have changed it to Shared Security when upgraded to 0.0.7.

Here are few side effects /issues I have realized. I appreciate if you can comment on tho

[2016-03-24 09:20] peholmst commented on #271
Here are some really quick answers, hope they help you in some way:
a) I think Spring creates a new session after authentication to protect against session fixation. That might be the reason why a new VaadinSession is also created.
b) See if you can tweak how Spring protects against session fixation. As for using push and a single UI, you could try to use the new WEBSOCKET_XHR push transport, whic

[2016-04-07 19:38] MathieuClusiau opened #282 "Maven/Integration-test of security-sample-managed (VaadinSession issue)"
Hi , I try to do an integration test of the security-sample-managed but I have a problem when it is executed by **maven**. I have no problem with JUnit in eclipse.

[stackTrace.txt](https://github.com/peholmst/vaadin4spring/files/209069/stackTrace.txt)

[loginIT.zip](https://github.com/peholmst/vaadin4spring/files/209075/loginIT.zip)

[2016-04-08 05:18] peholmst commented on #282
You could start by making sure that the classpath in Eclipse does not contain anything that's not in the Maven classpath or vice versa.

[2016-04-08 12:33] 6ff334e commented on #282
java.lang.AssertionError: null - you have to disable jvm assertions when running tests with maven
[code]

[2016-04-08 13:25] MathieuClusiau commented on #282
Thanks for the help. It works.

[2016-05-22 21:02] Artgit opened #283 "Vaadin 7/Standalone Tomcat 8 - NoSuchMethodError: org.vaadin.spring.security.shared.DefaultVaadinSharedSecurity.getRememberMeServices"
I can't run my Spring Boot/Vaadin application on Standalone Tomcat 8.0.35 with a following exception:

    java.lang.NoSuchMethodError: org.vaadin.spring.security.shared.DefaultVaadinSharedSecurity.getRememberMeServices()Lorg/springframework/security/web/authentication/RememberMeServices;
    	at org.vaadin.spring.security.shared.DefaultVaadinSharedSecurity.getRememberMeParameter(DefaultVaadinShar

[2016-05-22 21:27] peholmst commented on #283
Thanks for the report. What other JAR files do you have in your WAR-file? I suspect this might be some kind of conflict between archives in the classpath.

[2016-05-22 21:37] Artgit commented on #283
08.07.2015  20:50             4я467 aopalliance-1.0.jar
13.12.2015  17:11            53я231 asm-5.0.3.jar
18.10.2015  15:40           116я927 aspectjrt-1.8.7.jar
15.05.2016  13:45         1я864я922 aspectjweaver-1.8.9.jar
01.03.2016  20:30           773я825 atmosphere-runtime-2.2.7.vaadin1.jar
27.11.2015  20:35            73я869 cdi-api-2.0-EDR1.jar
12.08.2015  22:49            62я873 classmate-1.

[2016-05-23 04:27] peholmst commented on #283
I notice you're mixing jars from 0.0.5 and 0.0.7, including the security jar. This is the problem.

[2016-05-23 05:27] Artgit commented on #283
I have fixed my classpath and now this issue has now been resolved! Thank you!

[2016-05-23 05:30] peholmst commented on #283
You're welcome, I'm glad it works! :-)

[2016-05-23 05:30] #283 closed

[2016-05-23 08:53] Artgit opened #284 "Spring Security + Vaadin 7 login page"
Do I need to use a dedicated SpringUI for my login page or I can simple use a login View inside of UI which should be secured with Spring Security ?

[2016-05-23 09:05] Artgit opened #285 "Vaadin 7 + Spring Boot error page"
I have integrated Vaadin 7 and Spring Boot. Right now I need to implement error view in order to substitute standard page, for example:

    Whitelabel Error Page

    This application has no explicit mapping for /error, so you are seeing this as a fallback.
    Mon May 23 10:50:20 EEST 2016
    There was an unexpected error (type=Forbidden, status=403).
    Access is denied

It should be implemen

[2016-05-23 09:05] Artgit opened #286 "Vaadin 7 Spring Security return user to original page after login"
In my Vaadin 7, Spring Boot application after successful authentication/authorization I need to return user to a page where login process was initiated.

But right now user returns to home page.

For example if user goes to:

    http://127.0.0.1:8080/vaadin-ui/!#search

it redirects him to:

    http://127.0.0.1:8080/vaadin-ui/login#search

and after login process to:

    http://127.0.0.1:8080/v

[2016-05-23 09:06] peholmst commented on #284
It depends on how you are using Spring Security. If you go with a login view inside the UI, you can't use filter-based Spring Security at all and then you have to handle the UI security yourself. If you go with a separate UI, you can use filter-based security. In Vaadin4Spring, I refer to these modes as managed security (your Vaadin app manages the security) and shared security (your Vaadin app pa

[2016-05-23 09:13] christoph-frick commented on #285
See [Custom error pages](http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#boot-features-error-handling-custom-error-pages)

[2016-05-23 09:16] peholmst commented on #286
Please have a look at this blog post: https://vaadin.com/blog/-/blogs/filter-based-spring-security-in-vaadin-applications

[2016-05-23 09:27] Artgit commented on #284
OK, thanks. I'll go with a shared security and dedicated UI for login view.

[2016-05-23 09:30] Artgit commented on #285
What is the best practice with Vaadin 7 - do I need to implemented it as a separated Vaadin UI with Error view or use other approaches like html/jsp.. etc pages ?

[2016-05-23 09:37] christoph-frick commented on #285
above error message (looks to me) like a standard spring boot error message.  so in this case vaadin might not even be involved. an error view is used by the navigator, if there is no view for a name. so the best practice for some customer facing application is to have all of it set up properly (container, spring, vaadin, ...)

[2016-05-23 10:52] peholmst commented on #285
In projects where we are using standard Spring Security with filtered web security, we've used Velocity pages for login, logout and error and themed them so that they have the same look and feel as the Vaadin application. In other applications, we've only used Spring Security on the backend layer and handled everything ourselves within the Vaadin application.

[2016-05-23 11:09] Artgit commented on #285
Thanks !

[2016-05-23 11:37] #285 closed

[2016-06-09 17:42] silentsnooc commented on #233
I have that problem for quite a while now "[Sometimes getting AuthenticationCredentialsNotFoundException between multiple requests](http://stackoverflow.com/questions/34273755/sometimes-getting-authenticationcredentialsnotfoundexception-between-multiple-re)" but on my local machine as well.

From my stackoverflow question:

"*I am having the problem of sometimes getting a AuthenticationCredentials

[2016-06-10 07:09] peholmst commented on #233
Also with the latest version of Vaadin4Spring?

[2016-06-12 11:58] mandjeo opened #288 "AuthenticationManager null in DefaultVaadinSharedSecurity"
Hi.
First of all thanks for these great addons and extensions, just the things that people need!

I used Vaadin Shared security and copied the code from the example (the application class + loginUi).
However, after

            vaadinSecurity.login(userName.getValue(), passwordField.getValue(), rememberMe.getValue());

I have an exception being thrown from the DefaultVaadinSharedSecurity class (li

[2016-06-12 12:24] #288 closed

[2016-06-12 12:25] mandjeo commented on #288
I found some old code that was messing it up.
Sorry!

[2016-06-15 08:16] florianschmitt opened #289 "Eventbus - allow custom scopes in eventbus addon"
Hi, thanks for the great add on.
I'm using the eventbus addon and stumbled upon an issue. I had the need for modal windows in my application, since I didn't want a view-change in that case, I created my own custom scope SingleModalWindowScope. I'm still testing, but it seems to do the job.
My problem is now, that I reuse views, in the modal window, which use the ViewEventBus. Now if a event is fir

[2016-06-17 08:58] florianschmitt commented on #289
Hi again,

I needed a solution, so I put together a hack. I implemented a ViewEventBus, which is pausable. With this, I can set all registered listeners to paused when I open a modal window and set them to play again, when the window is closed... seems a bit dirty, but it does the job for now. Here is my implementation if anyone has a similar problem:

PausableViewEventBus.java
[code]

PausableMet

[2016-06-21 08:14] peholmst commented on #289
Thanks for your input. I'll have a look at what could be done to support other scopes in the future. Unfortunately I've been busy with other projects so it might take a while.

[2016-07-07 15:51] dvperv commented on #29
@dhhabi

I used `@Autowired AuthenticationManager authenticationManager;` instead, but Vaadin expects return as JSON, but return is HTML page and communication error happens.

@VaadinUI is not found, @SpringUI instead

[2016-07-12 13:31] jessyZu commented on #154
+1. I'm evaluating vaadin whether it can work in clustering environment. I‘m aslo look
forward to  this bug be fixed soon.

[2016-07-21 16:05] khauser commented on #154
You might have a look here: https://github.com/khauser/microservices4vaadin (within the frontend service)
There I used a SerializableProxy from jdal's library. Together with some other fixes (check out https://github.com/vaadin/spring/pull/32) to the vaadin's spring integration it all seems to work.

[2016-09-02 12:58] hectorlicea opened #290 "The presenters are not created using sidebar"
When I using single-mvp or mvp addons with sidebar, presenters are not created.

[2016-09-05 20:18] hectorlicea opened #291 "Security: redirect to "login" from address bar causes Access Denied error (HTTP 403)"
I am running the Shared Security sample. I enter correctly to the application (localhost:8080/login). When I logon, the application redirects to localhost:8080 and I can access to the options. If in the address bar, I add "/login" to "localhost:8080" (localhost:8080/login), the application crash. How can I fix this?

[2016-09-13 00:35] Horuss commented on #291
See security configuration in Application class:
`http.authorizeRequests().antMatchers("/login/**").anonymous()`
It allows only anonymous users to see login page - that's why you get 403. If you wish to allow users to see this view (and probably behave differently in that case), use permitAll() instead of anonymous()

[2016-09-13 13:42] hectorlicea commented on #291
Thanks for the help.
It works.

[2016-09-13 13:42] #291 closed

[2016-10-19 02:07] markathomas opened #292 "EventBus interface should be Serializable"
Since ScopedEventBus is Serializable it's interface ought to as well so full serialization of a Vaadin Spring component works.  Otherwise, one has to make the EventBus as transient.

[2016-10-20 10:28] toplac commented on #276
Since I am not working on this project anymore, I am closing this issue for now.
Feel free top open again, if needed

[2016-10-20 10:28] #276 closed

[2016-10-21 11:46] snicoll opened #293 "`@EnableEventBus` should automatically find bean annotated method"
As far as I understand, you can use `@EventBusListenerMethod` on bean methods and they'll we invoked as long as the class registers itself to the event bus.

Wouldn't it be better if that was transparent for Spring Beans? If you look at `@EventListener` in Spring Framework, all you have to do is place the annotation on a bean method. The code that gets the beans from the context and introspects th

[2016-10-21 14:16] peholmst commented on #293
I like this idea. One problem is to know which event bus to subscribe to, since there are different event buses with different scopes. Maybe you could match the scope of the listener with the scope of the event bus?

[2016-11-05 12:35] reisners opened #295 "Annotation @EnableCompositeMessageSource"
i18n/README.md mentions an annotation @EnableCompositeMessageSource which is nowhere defined. Do I need to add another dependency or is the documentation outdated? In either case, the documentation should be fixed.

[2016-11-15 10:27] peholmst commented on #295
Thanks for the report. The documentation is outdated.

[2016-11-15 19:02] zotona opened #297 "Vaadin 8 support"
Do you planned  to support 8 version. When it happen?

[2016-11-15 23:58] christoph-frick commented on #297
Since you already have opened a ticket in the gradle plugin: what problems do you face?  There is the 2.0 snapshot of the official spring plugin too.

[2016-11-16 05:07] zotona commented on #297
i have used a vaadin-spring-ext-security
i think what something breaks in servlet. Because i always get a
``Failed to load the bootstrap javascript: ./VAADIN/vaadinBootstrap.js?v=8.0-SNAPSHOT``

[2017-01-05 16:09] scipionyx commented on #91
in order to fix this problem remove from any serializable view any reference to the spring context

[2017-01-09 14:55] aley2003 commented on #297
We are developing an application with vaadin-bom:8.0-SNAPSHOT and vaadin-spring-boot-starter:2.0-SNAPSHOT. To use vaadin4spring we had to change the vaadin4spring pom.xml (build source/target, vaadin.version, vaadin-spring.version, spring-boot.version) and compile it for Vaadin 8.
Can you please create a Vaadin 8 branch/release? This would be very helpfull for all trying to develop Vaadin 8 applic

[2017-01-31 12:09] bandris opened #299 "So bad exception handling in VaadinManagedSecurityConfiguration"
Absorbed exceptions may cause headaches.

### VaadinManagedSecurityConfiguration.java:

[code]

[2017-02-20 16:11] jcgueriaud opened #301 "Problem when testing security-sample-shared with TestBench"
I tried to test this application with Vaadin TestBench and I've got this error when I try to go on a secured view.
`2017-02-20 16:38:50.003  WARN 5392 --- [o-auto-1-exec-8] com.vaadin.ui.ConnectorTracker           : org.vaadin.spring.samples.security.shared.views.AdminView$$EnhancerBySpringCGLIB$$d3aac251(19) claims that com.vaadin.ui.Button(20) is its child, but the child claims org.vaadin.spring

[2017-02-20 16:48] 6ff334e commented on #301
Have you tried to run your tests with disabled JVM Assertions? Surefire runs all tests with -ea flag by default, configure Surefire with `<enableAssertions>false</enableAssertions>`.

[2017-02-20 17:34] jcgueriaud commented on #301
Thanks a lot.
It's working if I change my pom.xml.

I don't understand why the connector hierarchy is corrupted but I can run my tests.

[2017-02-24 08:29] Artur- opened #302 "Support Spring Boot 1.5"
`ServletListenerRegistrationBean` is deprecated in 1.4 and removed in 1.5" in favor of org.springframework.boot.web.ServletListenerRegistrationBean"

vaadin4spring/extensions/boot/src/main/java/org/vaadin/spring/boot/AtmosphereAutoConfiguration.java still uses the old class

[2017-03-08 20:04] jonmartinsolaas commented on #297
Yup, Vaadin 8 is now released, support would be very nice, especially in the sidebar addon.

[2017-03-08 20:12] darkwitch commented on #297
I've created a PR for that https://github.com/peholmst/vaadin4spring/pull/303

[2017-03-09 22:37] #302 closed

[2017-03-11 17:56] FearlessHyena commented on #154
Wanted to check. Is this issue fixed via the other referenced issue fixes?

[2017-03-13 10:26] leafchild0 commented on #218
Facing the same problem. Vaadin 7.7.7, Vaadin4Spring 1.1.1

[2017-03-14 22:58] Switcher05 opened #304 "No VaadinService bound to current thread"
Long story short I was having this issue when running a simple unit test:
`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'vaadinServiceFactory': FactoryBean threw exception on object creation; nested exception is java.lang.IllegalStateException: No VaadinService bound to current thread
Caused by: java.lang.IllegalStateException: No VaadinService bound to cu

[2017-03-16 10:26] purplehaze42 opened #305 "Vaadin 8 + Spring Boot 1.5.2: java.lang.NoSuchMethodError: org.vaadin.spring.sidebar.components.ValoSideBar$ItemButton.addClickListener(Lcom/vaadin/ui/Button$ClickListener;)V"
I can't run my Spring Boot with Vaadin and vaadin4Spring appliction because of following exception:

	java.lang.NoSuchMethodError: org.vaadin.spring.sidebar.components.ValoSideBar$ItemButton.addClickListener(Lcom/vaadin/ui/Button$ClickListener;)V
		at org.vaadin.spring.sidebar.components.ValoSideBar$ItemButton.<init>(ValoSideBar.java:188) ~[vaadin-spring-addon-sidebar-0.0.7.RELEASE.jar:na]
		at or

[2017-03-21 10:28] mstahv commented on #305
Hi, try to build a snapshot version from the master and let us know if it can still be reproduced. The master is updated to Vaadin 8.

[2017-03-21 10:29] mstahv commented on #297
Has somebody used the latest master with Vaadin 8? Any apparent issues? I think we should cut a release for V8 soon.

[2017-03-21 11:07] jonmartinsolaas commented on #297
using it in a small project, not seen any issues.

[2017-03-21 13:08] purplehaze42 commented on #305
Hi, sample with 2.0.0-SNAPSHOT works fine. How can I attach this version to my Maven project? I found only 0.0.7.RELEASE on https://mvnrepository.com/.

[2017-03-21 13:12] mstahv commented on #305
If you build the snapshot locally you can just use 2.0.0-SNAPSHOT in your project (locally) as well. If you have maven proxy, you can probably install the artifacts there as well.

[2017-03-25 15:52] turgos opened #306 "Question related to @EnableEventBus"
I am using 2.0.0.RELEASE.

I have seen that you did not use @EnableEventBus at your eventbus-sample.

instead you used:
@Autowired
  EventBus.ApplicationEventBus applicationEventBus;

  /**
   * Forward {@link org.springframework.context.ApplicationEvent}s to the {@link org.vaadin.spring.events.EventBus.ApplicationEventBus}.
   */
  @Bean
  ApplicationContextEventBroker applicationContextEventBrok

[2017-03-26 15:48] turgos opened #307 "Question related to @EnableI18N"
Similar to my previous question;
I realized that you did not use @EnableI18N at your i18n-sample.

Are you retiring @EnableI18N with 2.0.0.RELEASE?

[2017-03-26 19:20] turgos commented on #306
Also, I could not make @EventBusListenerMethod annotation make work.

When I  mark my methods with that annotation (for example @EventBusListenerMethod(scope = EventScope.UI, filter = LoginEventFilter.class) ), even if event published successfully, method is never invoked.

if it is possible, can you give an example.

[2017-03-28 12:40] turgos commented on #306
Looks like EventBusListenerMethodFilter filter method is changed. When I change my Filters as below example, @EventBusListenerMethod annotated methods called fine.

So, looks like everything works fine. I appreciate if you still explain @EnableEventBus annotation and where/when to use it.

[2017-04-10 07:40] robinMcMA commented on #271
Hello everyone,
I have the same problem but I don't understand how you can fix it with 2 Vaadin's UI. I'm beginner with the core of Vaadin framework.
If you make an other UI (one for app, one for push) you can't show a notification for example on your app?!
My push should be here to notice in realtime users about new notifications.
Did you find a way to get this?

[2017-04-12 08:09] marioarrigonineri opened #308 "generics events"
Hi,
when registering method event listeners for different generics, event dispatcher calls both
eg:
	@EventBusListenerMethod
	public void a(EditEntity<User> e){
		System.out.println("a");
	}

	@EventBusListenerMethod
	public void b(EditEntity<String> e){
		System.out.println("b");
	}

if i send a new EditEntity<User>() message both methods are called

[2017-04-13 05:52] johannesh2 commented on #308
I was going to report a bug about not able to use payload types with generics e.g. Event<Optional<MyBean>>, but I think this bug is just about the same issue I had. If not, I can report a separate issue

[2017-04-18 07:19] gravin opened #309 "cant download from maven repository, cant find jars, what should i do?"
[INFO] Building Vaadin4Spring Samples - Side Bar 2.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[WARNING] The POM for org.vaadin.spring.extensions:vaadin-spring-ext-boot:jar:2.0.1-SNAPSHOT is missing, no dependency information available
[WARNING] The POM for org.vaadin.spring.addons:vaadin-spring-addon-sidebar:jar:2.0.1-SNAPSHOT is missing, no depend

[2017-04-25 09:40] jonmartinsolaas commented on #309
clone and build 2.0.1-snap locally, its not in the repo.

[2017-04-26 13:29] chvndb opened #310 "Vaadin4Spring and Keycloak integration issue"
Hi there,

I have a spring boot application which is secured using Keycloak.

I now wanted to try out Vaadin and stumbled upon vaadin4spring. I have been trying to merge my setup together with the [shared security example](https://github.com/peholmst/vaadin4spring/tree/master/samples/security-sample-shared). I created a demo application to test it out: [here](https://github.com/chvndb/keycloak-spr

[2017-05-01 02:19] mstahv commented on #309
Yes, only releases are in central. No 2.0.1-SNAPSHOST is yet built to snapshot repository, if using samples, build the whole project form top level first.

[2017-05-01 02:19] #309 closed

[2017-05-12 01:58] FearlessHyena commented on #299
A better idea would probably be to include the original exception

[2017-05-12 02:11] FearlessHyena commented on #297
Since #303 added this and there's been a release already this can probably be closed

[2017-05-12 02:15] FearlessHyena commented on #305
You can add http://oss.sonatype.org/content/repositories/vaadin-snapshots as a repository in your pom to download snapshots

[2017-05-12 08:24] #297 closed

[2017-06-17 05:17] eepstein opened #311 "sidebar sample not working"
i wanted to see the samples before making use of the extensions, but the sidebar one (the only one I've tried) doesn't show anything in the browser.

Steps:
1) downloaded the .zip file of the entire vaadin4spring repository from the master branch.
2) unzipped
3) ran:   mvn clean package install    in the root of the project
4) cd to samples/sidebar-sample
5) mvn spring-boot:run

everything seems t

[2017-06-17 11:00] chvndb commented on #245
Any update on this?

[2017-06-17 11:02] chvndb commented on #310
I found out disabling anonymous authentication fixes my issue.

`http.anonymous().disable();`

[2017-06-17 11:02] #310 closed

[2017-06-18 19:15] eepstein commented on #311
uhhh.  user error.  Reading the code the paths are:

http://localhost:8080/valo

and

http://localhost:8080/accordion

both work great.

next up... how to hide the nav bar and then render a little "show" icon/button when hidden.

[2017-06-18 19:15] #311 closed

[2017-06-25 05:44] amit2103 opened #312 "Create Sub menu"
Hey,

I want to create something liek Sub menu. I am following the Spring-Security-Shared example.  So I have a left pane of menu base don sections. However I cant seem to add menu's inside them. What can I do to add menu inside it or something similar. I want a kind of Sub Menu effect

[2017-07-24 15:50] flexguse opened #313 "Trouble using VaadinSecurity"
Hi everybody,

currently I face some trouble using managed VaadinSecurity.

My setup:
- Vaadin 8.0.7
- vaadin-spring-ext-security 2.0.0.RELEASE
- Java 1.8
- Spring-Boot 1.5.4
- Vaadin Push enabled

My application has several views which are managed by the Vaadin Navigator. One view is the admin-view for which a login is needed.
I followed the sample application for managed security and I'm able to

[2017-08-10 10:53] AlvaroFalcon commented on #313
I'm facing the same problem, did you solve it?

[2017-08-10 21:14] flexguse commented on #313
Hi Alvaro,

fortunately I found a workaround which differs from the docs.

I switched on Spring auto configuration for security and configured spring-security for allowed anonymous access to my application. With this configuration Spring seems to link the HTTP session with a SecurityContext.
In my Vaadin login-form I used VaadinSecurity to set the user's detail into the SecurityContext. After that

[2017-08-11 12:21] AlvaroFalcon commented on #313
Yep it helped me a bit tbh, but I found out that my problem was a bit different but also found a fix for it, thanks for the help.

[2017-09-07 11:18] heruan commented on #206
I'm getting the same exception with the latest packages, please reopen this since using older releases is not a proper solution.

[2017-11-20 10:40] khauser commented on #313
@AlvaroFalcon How did you fix this problem? I'm having  the same issue, but no clue how to solve it..

[2017-12-04 18:01] mz0 opened #314 "no websocket @Push in push-sample, security-sample-managed"
Push works only over XHR, websocket is not "upgraded" - instead of 101 server sends 200.
Looks like https://github.com/vaadin/framework/issues/8734#issuecomment-285139427

2017-12-04 20:40:02.317  WARN 30238 --- [  XNIO-2 task-1] org.atmosphere.util.IOUtils : More than one Servlet Mapping defined. WebSocket may not work io.undertow.servlet.spec.ServletRegistrationImpl@..
2017-12-04 20:40:02.320  I

[2017-12-04 21:48] chvndb commented on #313
I have the same issue. I am using the keycloak spring adapter. When enabling Vaadin Push everything works, except security is somehow ignored. I also see the warning:
`o.v.s.s.shared.PushSecurityInterceptor : Found no SecurityContextRepository in the application context, using HttpSessionSecurityContextRepository`

[2017-12-12 13:57] dimonixx opened #315 "Always redirecting to /login"
I've tried to implement shared security following your sample. I took the config from [https://github.com/peholmst/vaadin4spring/blob/5d5e29a2257f6b620a2a5af1687cb6c5cb22c6bc/samples/security-sample-shared/src/main/java/org/vaadin/spring/samples/security/shared/Application.java#L48](https://github.com/peholmst/vaadin4spring/blob/5d5e29a2257f6b620a2a5af1687cb6c5cb22c6bc/samples/security-sample-shar

[2018-01-30 13:39] zygimantus commented on #313
Have you tried something like this in your UI class?:

[code]

[2018-05-29 17:11] ekomrak opened #317 "Vaadin 10 and SpringBoot 2"
Are you going to support Vaadin 10 and SpringBoot 2?

[2018-05-29 17:19] christoph-frick commented on #317
Have you seen https://github.com/devsoap/gradle-vaadin-flow ?

[2018-07-06 08:09] mstahv commented on #317
I think @peholmst is bit busy ATM, so help would be appreciated on this. I think the basics shouldn't be too hard to migrate as the fundamental architecture is not that much different.

I can certainly help, do code reviews and ask the core team for help when needed (e.g. opening some APIs), but I wouldn't like to take the lead on this.

[2018-09-21 16:17] snowjak88 opened #318 "Vaadin Shared Security -- default logout URL is hardcoded and undocumented"
I've been having a great deal of trouble incorporating Shared Security into my application, so I decided to restart by directly copying the configuration from the sample application. The only substantive changes I made were to make the login and logout URLs dependent on public constant Strings included on LoginUI and LoginFormView -- for example:

[code]

[code]

My logout-button simply calls `Vaa

[2019-01-07 05:53] FDU-SE-LAB opened #319 "Your project peholmst/vaadin4spring is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-02-08 12:08] andersforsell commented on #317
Can EventBus be used with Vaadin 10 without modifications?

[2019-02-08 12:49] peholmst commented on #317
No, it will not work. The scopes are different in Vaadin 10.

[2019-02-15 07:55] eriklumme commented on #317
I made a PR for updating the event bus here

https://github.com/peholmst/vaadin4spring/pull/320

Although the project with that PR is in a state where it uses different versions than all other add-ons, so either they should be migrated, or maybe the event bus split out.

[2019-02-15 08:13] mstahv commented on #317
Awesome! I think we should we create a separate flow branch and consider releasing the first version with only the event bus. What do you think @peholmst?

[2019-02-15 08:14] mstahv commented on #317
That branch should probably remove all but platform compatible stuff and we can then later add features back when somebody finds time to work on the features.

[2019-02-15 08:47] peholmst commented on #317
@mstahv Go for it!

[2019-02-15 09:06] mstahv commented on #317
Landed the patch to flow branch. Let's use that to develop the first Flow version

[2019-03-12 07:27] andersforsell commented on #317
What is left to do for a first release with only the event bus?
I am about to migrate a Vaadin 8 application to Vaadin 12 but would like to keep using the event bus.

[2019-04-26 10:00] simpletasks commented on #317
What is the future with event bus with Flow ?
When we can expect release of event bus addon for Flow ?
Event bus addon is important part of ours Vaadin 8 applications. We now need to migrate to Vaadin 13 preparing for Vaadin 14 development.

[2019-04-28 15:14] mstahv commented on #317
I think we should definitely look to cut a first build. @eriklumme Do you think you could find out time for some short smoke test session?

[2019-04-28 21:48] simpletasks commented on #317
I made some proposal of updates for eventbus addon in #322 to be able to compile and run tests with flow version.

[2019-04-29 05:04] eriklumme commented on #317
I'll try to find time this week

[2019-06-30 16:42] andersforsell commented on #317
Vaadin 14 is just a few days so I understand if everyone is busy. The support for eventbus would be the last piece for me to be able to migrate an application from Vaadin 8.  Any update?

[2019-08-16 06:14] andersforsell commented on #317
Vaadin 14 released, any update on this? @eriklumme

[2019-08-16 06:20] eriklumme commented on #317
Hi @andersforsell , I've been very busy lately so haven't had time to look at this, but it's high on my priority list.

It would also require some action from @peholmst in terms of checking out the already open PRs.

[2019-08-26 07:11] eriklumme commented on #317
@andersforsell Discussing with @peholmst, we decided that the event bus should probably be remade from scratch, due to the security issue explained here https://github.com/peholmst/vaadin4spring/blob/master/eventbus/README.md

In short, listeners in the application scope are notified within the security context of the sender, rather than that of the receiver. This is not an issue in the UI or sess

[2020-01-15 20:40] Emmenemoi opened #324 "ScopedEventBus serializable problem"
ListenerCollection implements Serializable but not WeakHashMap.
As a consequence ListenerCollection is NOT Serializable because of weakListeners property.

[2020-01-20 18:13] Emmenemoi commented on #324
Would it be a solution ?

[code]

[2020-02-07 22:47] knoobie commented on #324
@peholmst Hey Petter, is your side project applicable for BFP? We currently ran into the same issue using your eventbus addon in one of our applications (V8 + addon 2-0-0).

[2020-02-11 22:09] Emmenemoi commented on #324
I'll add a pull request, the idea is here but it needs testing

[2020-02-12 00:51] Emmenemoi opened #325 "EventBusListenerMethod with subscribeWithWeakReference is not subscribed"
This cannot work in ScopedEventBus line 220: MethodListenerWrapper is locally defined, so it will be garbage collected asap -> listener ignored.
[code]